/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-about_pic_1 {
  background-image: url(../images/sprite.png);
  background-position: 0px -94px;
  width: 37px;
  height: 35px;
}
.icon-about_pic_2 {
  background-image: url(../images/sprite.png);
  background-position: -42px -94px;
  width: 36px;
  height: 33px;
}
.icon-about_pic_3 {
  background-image: url(../images/sprite.png);
  background-position: -104px -38px;
  width: 41px;
  height: 41px;
}
.icon-big_long_arrow {
  background-image: url(../images/sprite.png);
  background-position: -83px -117px;
  width: 80px;
  height: 9px;
}
.icon-big_long_arrow_hover {
  background-image: url(../images/sprite.png);
  background-position: -61px -134px;
  width: 80px;
  height: 9px;
}
.icon-calendar {
  background-image: url(../images/sprite.png);
  background-position: 0px -186px;
  width: 12px;
  height: 12px;
}
.icon-car {
  background-image: url(../images/sprite.png);
  background-position: -176px -66px;
  width: 23px;
  height: 21px;
}
.icon-card {
  background-image: url(../images/sprite.png);
  background-position: 0px -157px;
  width: 35px;
  height: 24px;
}
.icon-close_popup {
  background-image: url(../images/sprite.png);
  background-position: -40px -157px;
  width: 14px;
  height: 14px;
}
.icon-close_popup_hover {
  background-image: url(../images/sprite.png);
  background-position: -144px -94px;
  width: 14px;
  height: 14px;
}
.icon-halflux {
  background-image: url(../images/sprite.png);
  background-position: -104px 0px;
  width: 67px;
  height: 33px;
}
.icon-halflux_hover {
  background-image: url(../images/sprite.png);
  background-position: 0px -56px;
  width: 67px;
  height: 33px;
}
.icon-key {
  background-image: url(../images/sprite.png);
  background-position: -176px 0px;
  width: 33px;
  height: 39px;
}
.icon-letter {
  background-image: url(../images/sprite.png);
  background-position: -150px -64px;
  width: 19px;
  height: 13px;
}
.icon-long_arrow {
  background-image: url(../images/sprite.png);
  background-position: -146px -134px;
  width: 29px;
  height: 7px;
}
.icon-long_arrow_hover {
  background-image: url(../images/sprite.png);
  background-position: -176px -117px;
  width: 29px;
  height: 7px;
}
.icon-lux {
  background-image: url(../images/sprite.png);
  background-position: -52px 0px;
  width: 47px;
  height: 51px;
}
.icon-lux_hover {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 47px;
  height: 51px;
}
.icon-man {
  background-image: url(../images/sprite.png);
  background-position: -17px -186px;
  width: 12px;
  height: 11px;
}
.icon-metro {
  background-image: url(../images/sprite.png);
  background-position: -176px -44px;
  width: 29px;
  height: 17px;
}
.icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -176px -92px;
  width: 23px;
  height: 20px;
}
.icon-plane {
  background-image: url(../images/sprite.png);
  background-position: -150px -38px;
  width: 21px;
  height: 21px;
}
.icon-select_arrow {
  background-image: url(../images/sprite.png);
  background-position: -180px -134px;
  width: 12px;
  height: 7px;
}
.icon-select_arrow_blue {
  background-image: url(../images/sprite.png);
  background-position: -72px -82px;
  width: 12px;
  height: 7px;
}
.icon-slider_next {
  background-image: url(../images/sprite.png);
  background-position: -80px -157px;
  width: 16px;
  height: 9px;
}
.icon-slider_next_hover {
  background-image: url(../images/sprite.png);
  background-position: -101px -157px;
  width: 16px;
  height: 9px;
}
.icon-slider_prev {
  background-image: url(../images/sprite.png);
  background-position: -122px -157px;
  width: 16px;
  height: 9px;
}
.icon-slider_prev_hover {
  background-image: url(../images/sprite.png);
  background-position: -59px -157px;
  width: 16px;
  height: 9px;
}
.icon-standart {
  background-image: url(../images/sprite.png);
  background-position: 0px -134px;
  width: 56px;
  height: 18px;
}
.icon-standart_hover {
  background-image: url(../images/sprite.png);
  background-position: -83px -94px;
  width: 56px;
  height: 18px;
}
.icon-star_marker {
  background-image: url(../images/sprite.png);
  background-position: -72px -56px;
  width: 17px;
  height: 21px;
}
