@import (less) "images/sprite.css";
@import (inline) "css/reset.css";

@light: 'UbuntuLight', Arial, Tahoma, sans-serif;
@regular: 'UbuntuRegular', Arial, Tahoma, sans-serif;
@bold: 'UbuntuBold', Arial, Tahoma, sans-serif;
@gotregular: 'GothamProRegular', Arial, Tahoma, sans-serif;
@gotbold: 'GothamProBold', Arial, Tahoma, sans-serif;
@gotblack: 'GothamProBlack', Arial, Tahoma, sans-serif;
@transition: all .3s ease-out;
@text_color: #877152;
@blue: #1b4a6a;
@brown: #3a2405;
@orange: #ffbd46;

body{
	font-family: @light;
	background: #fffefc;
	font-size: 14px;
	color: @text_color;
}
a{ 
	text-decoration: none; 
	color: inherit; 
}  

.icon{
	display: inline-block;   
	vertical-align: middle; 
}   

*, 
*:active, 
*:focus{  
	outline: none !important; 
} 
 
.page{
	position: relative;
	overflow: hidden; 
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content{
	flex: 1 1 auto;
	position: relative;
}
 
.floatLeft{ 
	float: left; 
} 
.floatRight{
	float: right;  
}

strong{
	font-family: @bold;
}

.gradient{
	background: #186395;
	background: -moz-linear-gradient(left, #186395 0%, #1b4a6a 100%);
	background: -webkit-linear-gradient(left, #186395 0%,#1b4a6a 100%);
	background: linear-gradient(to right, #186395 0%,#1b4a6a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186395', endColorstr='#1b4a6a',GradientType=1 );
}

.btn{
	display: inline-block;
	text-align: center;
	padding: 8px;
	text-align: center;
	color: #fff;
	font-family: @gotblack;
	font-size: 17px;
	text-transform: uppercase;
	border-radius: 23px;
  	min-width: 150px;
  	box-shadow: 0px 6px 13px 0 rgba(29, 111, 161, 0.33);
  	.gradient;
  	span{
		border-radius: 23px;
		display: inline-block;
		background: trasparent;
		transition: @transition;
		padding: 7px 32px 8px;
	}
  	&:hover{
		span{
			background: #fcf1dd;
			color: #195e8d;
		}
	}
	&.big-btn{
		min-width: 300px;
		border-radius: 28px;
		margin-bottom: 20px;
		font-family: @gotblack;
		span{
			width: 100%;
			height: 100%;
			border-radius: 28px;
			padding: 9px 32px 10px;
		}
	}
}

.simple-btn{
	display: inline-block;
	text-align: center;
	border: solid 1px #957965;
	font-size: 14px;
  	font-family: @light;
  	border-radius: 18px;
	span{
		display: inline-block;
		color: @brown;
		border-radius: 18px;
		padding: 9px 35px 10px;
		transition: background .25s ease-out;
	}
	&:hover{
		border-width: 2px;
		span{
			padding: 8px 34px 9px;
			color: @text_color;
			background: #fff;
		}
	}
}

button.btn{
	border: none;
	cursor: pointer;
	padding: 8px;
	font-family: @light;
	font-size: 18px;
}

.simple-form{
	width: 100%;
	input, textarea, select{
		height: 34px;
		background: #fffefc;
	  	border: solid 1px #fcf1dd;
	  	color: @text_color;
	  	display: block;
		width: 100%;
		border-radius: 2px;
		font-size: 13px;
		font-family: @regular;
		transition: @transition;
		margin-bottom: 10px;
		padding: 0 15px;
		&:focus{
			box-shadow: 0px 9px 9px 0px rgba(244,228,199,0.78);
			background: #fff;
		}
	}
	textarea{ 
		height: 70px;
		padding: 10px 15px;
		resize: none;
		line-height: 1.15;
	}
	button{
		margin: 20px auto 10px;
		display: block;
	}
	input.error,
	textarea.error{
		background: #ffdfdf;
		color: #ef3434;
		border-color: #fb7f7f;
		position: relative;
		&:after{
			content: "sdafasdfs";
			position: relative;
			right: -10px;
		}
	}
	label.error{
		pointer-events: none;
		position: absolute;
		padding: 3px 0;
		top: 7px;
		right: 1px;
		color: #ef3434;
		font-size: 13px;
		display: inline-block;
		background: #ffdfdf;
		width: ~"calc(100% - 18px)";
		&:after{
			content: url("../images/error_pic.png");
			position: absolute;
			top: -1px;
			right: -30px;
		}
	}
	.input-block{
		position: relative;
	}
} 

.arrow-link{
	transition: @transition;
	font-size: 14px;
	display: inline-block;
	white-space: nowrap;
	i{
		margin-left: 6px;
	}
	&:hover{
		color: @blue;
		span{
			text-decoration: underline;
		}
		.icon-long_arrow{
			&:extend(.icon-long_arrow_hover);
		}
	}
}

.big-arrow-link{
	transition: @transition;
	font-size: 36px;
	display: inline-block;
	vertical-align: middle;
	color: @brown;
	white-space: nowrap;
	i{
		margin-left: 19px;
	}
	&:hover{
		color: @blue;
		span{
			text-decoration: underline;
		}
		.icon-big_long_arrow{
			&:extend(.icon-big_long_arrow_hover);
		}
	}
}

h1{
	color: @brown;
	font-size: 60px;
	font-family: @gotblack;
	margin-bottom: 30px;
	text-transform: uppercase;
}

h2{
	font-size: 48px;
	color: @brown;
	margin-bottom: 50px;
	strong{
		color: @blue;
		font-family: @gotblack;
	}
}

h3{
	font-family: @gotblack;
	font-size: 36px;
	color: @blue;
	margin-bottom: 30px;
	
}

h4{
	font-family: @gotblack;
	font-size: 30px;
	color: @blue;
	margin-bottom: 36px;
	small{
		color: @brown;
		font-family: @light;
	}
}

header{
	padding: 30px 0 60px;
	position: relative;
	z-index: 50;
	background: #fff;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: @transition;
	.row{
		display: flex;
		align-items: center;
	}
	&.main-page{
		padding-bottom: 15px;
	}
	&.inner-page{
		padding-bottom: 30px;
	}
}

.main-logo{
	img{
		max-width: 300px;
		display: block;
		transition: @transition;
	}
}

.header-options{
	position: relative;
	display: flex;
	align-items: center;
	margin-top: -6px;
	.phone{
		color: @brown;
		font-size: 18px;
		font-family: @bold;
	}
	.simple-btn{
		margin-left: 30px;
	}
}

.languages-list{
	position: absolute;
	right: 0;
	top: -44px;
	transition: @transition;
	li{
		display: inline-block;
		font-size: 12px;
		margin-right: 5px;
		&:after{
			content: "|";
			margin-left: 7px;
		}
		&:last-child{
			margin-right: 0;
			&:after{
				display: none;
			}
		}
	}
	a{ 
		&:hover{
			text-decoration: underline;
		}
	}
	.active{
		text-decoration: underline;
		font-family: @bold;
	}
}

.header-menu{
	flex-grow: 1;
	& > li{
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		text-align: left;
		margin-right: 26px;
		margin-bottom: -9px;
		padding-bottom: 9px;
		position: relative;
		&:first-child{
			margin-right: 14px;
		}
		&:last-child{
			margin-right: 10px;
		}
		&:hover{
			& > a{
				color: @blue;
				text-decoration: underline;
			}
			.icon-select_arrow{
				&:extend(.icon-select_arrow_blue);
			}
			.room-categories{
				opacity: 1;
				visibility: visible;
				transition: all .4s ease-out .2s;
			}
		}
		.icon-select_arrow{
			margin-left: 12px; 
		}
		& > a{
			transition: @transition;
			color: @brown;
			position: relative;
		}
	}
}

.room-categories{
	opacity: 0;
	visibility: hidden;
	transition: @transition;
	display: flex;
	position: absolute;
	left: 0;
	top: 100%;
	border-top: 1px solid #debda5;
	box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.83);
	li{
		.gradient;
	}
	a{
		display: block;
		width: 174px;
		height: 100%;
		text-align: center;
		padding: 27px 20px 36px;
		background: #fff;
		color: @brown;
		transition: @transition;
		&:hover{
			background: transparent;
			color: #fff;
			.icon-standart{
				&:extend(.icon-standart_hover);
			}
			.icon-halflux{
				&:extend(.icon-halflux_hover);
			}
			.icon-lux{
				&:extend(.icon-lux_hover);
			}
		}
	}
	.img-block{
		height: 51px;
		line-height: 51px;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		i{
			flex-shrink: 0;
			align-self: flex-end;
		} 
	}
	h5{
		font-family: @gotblack;
		text-transform: uppercase;
		font-size: 18px;
	}
	.active-category{
		background: #fcf1dd;
	}
}

.footer-top{
	padding: 40px 0;
	background: #fcf1dd;
	.phone{
		font-size: 18px;
		font-family: @bold;
	}
	.simple-btn{
		margin-left: 30px;
		font-size: 16px;
	}
}

.footer-menu{
	flex-grow: 1;
	padding-left: 138px;
	li{
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		margin-right: 30px;
	}
	a{
		transition: @transition;
		&:hover{
			text-decoration: underline;
			color: @blue;
		}
	}
}

.footer-bottom{
	padding: 25px 0;
	background: #3a2405;
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}

.footer-flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-logo{
	opacity: 0.65;
	img{
		width: 190px;
	}
}
.map-section{
	position: relative;
}

#map{
	width: 130%;
	height: 667px;
}

.map-content{
	position: absolute;
	z-index: 10;
	left: 50%;
	margin-left: -642px;
	top: 65px;
	box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.83);
  	background-color: #ffffff;
  	border: solid 6px #fcf1dd;
  	padding: 48px 45px 25px;
  	min-width: 410px;
  	text-align: left;
  	h3{
		margin-bottom: 27px;
	}
  	ul{
		margin-bottom: 28px;
	}
	li{
		display: flex;
		align-items: center;
		font-size: 18px;
		margin-bottom: 13px;
	}
  	.img-block{
		flex-shrink: 0;
		margin-right: 12px;
		text-align: center;
		width: 29px;
	}
	a{
		transition: @transition;
		&:hover{
			text-decoration: underline;
			color: @blue;
		}
	}
}

.reviews-section{
	padding: 90px 0 115px;
	background: #fefbf5;
	h2{
		text-align: center;
		padding-left: 20px;
	}
}

.reviews-arrows{
	flex-direction: column;
	margin-top: 80px;
	margin-left: 110px;
	.arrow{
		margin-right: 0;
		margin-bottom: -1px;
	}
	.arrow-prev{
		transform: rotate(90deg);
	}
	.arrow-next{
		transform: rotate(90deg);
	}
}

.reviews-slider{
	.slick-list{
		margin: 0 -10px -20px;
	}
	.slider-count{
		margin-left: -125px;
		margin-top: -22px;
	}
}

.review-block{
	box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.83);
  	background-color: #ffffff;
  	border: solid 6px transparent;
  	margin: 0 10px 50px;
  	padding: 45px 55px;
  	max-width: 850px;
  	position: relative;
  	min-height: 270px;
  	text-align: left;
  	&.active-review{
		border-color: #fcf1dd;
	}
	p{
		line-height: 1.43;
	}
}

.total-rating{
	width: 240px;
  	height: 240px;
  	box-shadow: 0px 18px 35px 0 rgba(255, 189, 70, 0.61);
  	background: #ffbd46 url("../images/total_rating_bg.png") right bottom no-repeat;
  	border-radius: 50%;
  	overflow: hidden;
  	position: absolute;
  	left: 100%;
  	top: -3px;
  	margin-left: -32px;
  	text-align: center;
  	padding: 70px 15px 0;
  	.value{
		color: #fff;
		font-size: 48px;
		font-family: @gotblack;
		margin-bottom: 12px;
	}
	p{
		color: @brown;
		font-size: 18px;
		font-family: @regular;
	}
	strong{
		display: block;
		font-family: @bold;
		line-height: 1.33;
	}
}

.review-author{
	margin-bottom: 16px;
	.name{
		font-size: 24px;
		display: inline-block;
		margin-right: 12px;
		color: @blue;
		font-family: @gotblack;
	}
}

.review-rating{
	display: flex;
	align-items: center;
	margin-bottom: 14px;
	font-family: @bold;
	font-size: 24px;
	margin-left: -15px;
	.value{
		width: 120px;
		flex-shrink: 0;
		margin-right: 25px;
		text-align: center;
		border-radius: 20px;
		color: #fff;
		background: @orange;
		padding: 8px;
	}
	.title{
		color: @brown;
	}
}

.reviews-links{
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 850px;
}

.rooms-section{
	padding: 0 0 35px;
	background: #fffefc;
	.all-rooms{
		text-align: right;
		margin-top: -9px;
	}
}

.room-container{
	margin-bottom: 40px;
	background: #fcf1dd;
	position: relative;
	text-align: left;
	&:nth-of-type(even){
		background: #fefbf5;
		.room-description{
			background: #fcf1dd;
		}
		.facilities-block{
			border-bottom-color: #fefbf5;
		}
	}
}

.room-content{
	display: flex;
}

.room-type{
	width: 25%;
	flex-shrink: 0;
	position: relative;
	padding: 54px 30px 58px 0;
	.status{
		position: absolute;
		left: 0;
		top: 0;
		background-color: @orange;
  		box-shadow: 0px 3px 6px 0 rgba(255, 189, 70, 0.61);
  		font-size: 16px;
  		color: #fffefc;
  		text-transform: uppercase;
  		font-family: @gotblack;
  		padding: 8px 22px;
	}
	h3{
		margin-bottom: 31px;
		text-transform: uppercase;
	}
	p{
		line-height: 1.43;
		margin-bottom: 31px;
	}
	.price{
		color: @brown;
		font-size: 30px;
		margin-bottom: 35px;
	}
	.rub{
		font-size: 29px;
	}
}

.facilities-block{
	h6{
		font-size: 16px;
		color: @brown;
		margin-bottom: 25px;
		font-family: @bold;
	}
}

.room-description{
	width: 25%;
	flex-shrink: 0;
	background: #fefbf5;
	padding: 115px 50px 25px 48px;
	position: relative;
	z-index: 5;
	.facilities-block{
		padding-bottom: 57px;
		border-bottom: 1px solid #fcf1dd;
		margin-bottom: 28px;
	}
}

.facilities-list{
	margin: 0 -4px 13px;
	color: @brown;
	li{
		position: relative;
		display: inline-block;
		margin: 0 4px 10px;
		&:hover{
			z-index: 5;
			.img-block{
				border-color: #957a66;
			}
			.desc{
				opacity: 1;
				visibility: visible;
				transition: @transition;
			}
		}
	}
	.img-block{
		background-color: #ffffff;
  		border: solid 2px transparent;
  		box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.78);
  		width: 46px;
  		height: 46px;
  		display: flex;
  		transition: @transition;
  		i{
			margin: auto;
			font-size: 21px;
		}
	}
	.desc{
		position: absolute;
		background: @orange;
		padding: 6px 20px 8px;
		top: 8px;
		opacity: 0;
		visibility: hidden;
		&.left{
			right: 100%;
			margin-right: 9px;
			&:after {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 189, 70, 0);
				border-left-color: #ffbd46;
				border-width: 5px;
				margin-top: -5px;
			}
		}
		&.right{
			left: 100%;
			margin-left: 9px;
			&:after {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " "; 
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 189, 70, 0);
				border-right-color: #ffbd46;
				border-width: 5px;
				margin-top: -5px;
			}
		}
	}
}

.room-more-info{
	text-align: left;
	color: @brown;
	font-family: @regular;
	margin-bottom: 45px;
	li{
		display: flex;
		align-items: center;
		margin-bottom: 16px;
	}
	.img-block{
		width: 40px;
		text-align: center;
		flex-shrink: 0;
		margin-right: 18px;
	}
	span{
		line-height: 1.43;
		display: inline-block;
	}
}

.slider-container{
	position: relative;
	width: 50vw;
	background: #fffefc;
	flex-shrink: 0;
	min-height: 0;
	min-width: 0;
	.slider-big{
		height: 100%;
		position: relative;
		min-height: 0;
		min-width: 0;
		max-height: 610px;
	}
}

.room-slider{
	height: 100%;
	.slick-list,
	.slick-track,
	.slide{
		height: 100%;
	}
	img{
		width: 100%;
		display: block;
		height: 100%;
		object-fit: cover;
	}
	.custom_paging{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 11;
	}
}  

.slide-arrows{
	display: flex;
	.arrow{
		width: 36px;
  		height: 36px;
  		border: solid 1px #957965;
  		background: #fff;
  		margin-right: -1px;
  		display: flex;
  		cursor: pointer;
  		i{
			margin: auto;
		}
		&:hover{
			.gradient;
			box-shadow: -1.8px 3.6px 7px 0 rgba(23, 116, 178, 0.38);
			.icon-slider_prev{
				&:extend(.icon-slider_prev_hover);
			}
			.icon-slider_next{
				&:extend(.icon-slider_next_hover);
			}
		}
	}
}

.room-arrows{
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 0;
}

.slider-count{
	position: absolute;
	z-index: 10;
	left: 18px;
	top: 18px;
	color: #7f6e55;
	font-size: 18px;
	.current{
		color: @blue;
		font-size: 36px;
		font-family: @gotblack;
	}
}

.gallery-section{
	padding: 5px 0 33px;
	background: #fffefc;
}

.gallery-container{
	position: relative;
	&:before{
		content: "";
		width: 40vw;
		height: 300px;
		background: @brown;
		position: absolute;
		bottom: 30px;
		right: 100%;
		display: block;
	}
	.gallery-arrows{
		margin-bottom: 30px;
	}
}

.gallery-flex{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.gallery-block{
	width: 25%;
	padding: 0 15px;
	margin-bottom: 30px;
	height: 300px;
	&.width2{
		width: 50%;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.about-section{
	padding: 60px 0 112px;
	.about-pic{
		text-align: center;
		img{
			max-width: 100%;
		}
	}
}

.about-description{
	padding-left: 112px;
	margin-top: -9px;
	p{
		line-height: 1.33;
		font-size: 18px;
		margin-bottom: 52px;
	}
}

.about-list{
	display: flex;
	margin: 0 -15px;
	li{
		width: 33.33333%;
		margin: 0 15px;
		text-align: left;
	}
	.img-block{
		width: 100px;
  		height: 100px;
  		box-shadow: -2px 8.8px 9px 0 rgba(252, 241, 221, 0.78);
  		background-color: #fffffe;
  		border: solid 6px #fcf1dd;
  		display: flex;
  		margin-bottom: 35px;
  		i{
			margin: auto;
		}
	}
	h6{
		color: @brown;
		line-height: 1.33;
		font-size: 18px;
	}
}

.order-section{
	background: #fffefc;
	border-top: 45px solid #fff;
	padding: 38px 0 85px;
	position: relative;
	z-index: 20;
	.line{
		width: 100%;
		height: 70px;
		background: @brown url("../images/top_section_line_bg.png") left center no-repeat;
	}
	.order-img{
		position: relative;
		z-index: 10;
	}
	.img-content{
		position: absolute;
		top: 0;
		left: 0;
		margin-top: -85px;
		img{
			max-width: 100%;
		}
	}
	.img-text{
		position: absolute;
		z-index: 10;
		bottom: 73px;
		right: 78px;
		color: #fff;
		text-align: left;
	}
	h1{
		margin-bottom: 13px;
		color: #fff;
	}
	.slogan{
		font-size: 24px;
	}
	.order-form{
		margin-bottom: 37px;
	}
}

.order-form{
	text-align: left;
	position: relative;
	z-index: 12;
	.btn{
		font-family: @gotblack;
	}
	.order-phone{
		a{
			font-family: @bold;
		}
	}
}

.order-inputs{
	display: flex;
	margin-bottom: 40px;
	.input-label{
		display: block;
		background: #fffefc;
  		border: solid 1px #fcf1dd;
  		text-align: left;
  		padding: 20px;
  		min-height: 150px;
  		position: relative;
  		z-index: 10;
  		width: 104px;
  		flex-shrink: 0;
  		margin-right: 20px;
  		cursor: pointer;
  		transition: @transition;
  		&:after{
			content: "";
			width: ~"calc(100% + 2px)";
			position: absolute;
			z-index: 9;
			top: 100%;
			left: -1px;
			height: 4px;
			background: #f7ead4;
			opacity: 0;
			transition: @transition;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	.label-titile{
		font-size: 10px;
		margin-bottom: 13px;
		i{
			margin-right: 7px;
		}
	}
	.order-date{
		font-size: 48px;
		color: @brown;
		font-family: @gotblack;
		margin-bottom: 9px;
	}
	.order-month{
		color: @brown;
		font-size: 14px;
	}
	.icon-select_arrow{
		position: absolute;
		right: 10px;
		bottom: 12px;
	}
	.calendar-input{
		max-width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 0;
		padding: 0;
		border: none;
	}
	.active-label{
		box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.78);	
		background: #fff;
		&:after{
			opacity: 1;
		}
		.icon-select_arrow{
			&:extend(.icon-select_arrow_blue);
		}
	}
}

.ui-datepicker{
	z-index: 40 !important;
	margin-top: 4px;
	margin-left: -1px;
}

.mfp-wrap ~ .ui-datepicker{
	z-index: 2000 !important;
}

.popup-flex{
	display: flex;
	.popup-img{
		width: 380px;
		flex-shrink: 0;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

.popup-information{
	flex-grow: 1;
	width: 100%;
	border: 6px solid #fcf1dd;
	background: #fffefc;
	padding: 46px;
	text-align: left;
	h4{
		margin-bottom: 18px;
	} 
	.title-desc{
		margin-bottom: 24px;
		font-size: 16px;
		font-family: @regular;
		line-height: 1.125;
	}
	.order-phone{
		text-align: center;
	}
}

.mobile-buter{
	display: none;
	transition: @transition;
	cursor: pointer; 
	position: relative;
	span{
		display: block;
		width: 30px;
		height: 2px;
		background: @brown;
		margin: 5px 0;
		transition: all 0.2s ease-out;
	}
	&.open-buter{
		span{
			position: relative;
			&:nth-of-type(1){
				transform: rotate(45deg);
				top: 7px;
			}
			&:nth-of-type(2){
				opacity: 0;
			}
			&:nth-of-type(3){
				transform: rotate(-45deg);
				top: -7px;
			}
		}
	} 
}

#review-popup .simple-form textarea{
	height: 230px;
}

.title-section{
	background: #fffefc;
	padding: 29px 0 57px;
	.title-content{
		padding-left: 440px;
	}
	h1{
		color: #debda5;
		font-size: 36px;
		margin-bottom: 0;
		text-transform: none;
		small{
			font-family: @light;
		}
	}
}

.breadcrumbs{
	margin-bottom: 17px;
	text-align: left;
	padding-left: 25px;
	position: relative;
	&:before{
		content: url("../images/house.png");
		position: absolute;
		left: 0;
		top: 0;
	}
	li{
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;
		margin-bottom: 15px;
		color: #debda5;
		font-family: @regular;
	}
	a{
		&:hover{
			text-decoration: underline;
		}
	}
}

.single-room{
	.room-type{
		.btn{
			margin-bottom: 35px;
		}
		p{
			margin-bottom: 21px;
		}
	}
	.room-description{
		.facilities-block{
			padding-bottom: 5px;
		}
	} 
	.slider-container{
		.slider-big{
			max-height: 560px;
			margin-bottom: 30px;
		}
	}
}

.room-slider-small{
	margin-bottom: -15px;
	padding-left: 10px;
	.slide{
		margin: 8px 15px 15px;
		position: relative;
		cursor: pointer;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			border: solid 4px #957a66;
			opacity: 0;
			transition: @transition;
		}
		&:after {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(149, 122, 102, 0);
			border-bottom-color: #957a66;
			border-width: 8px;
			margin-left: -8px;
			opacity: 0;
		}
	}
	img{
		width: 100%;
		height: 120px;
		object-fit: cover;
	}
	.slick-current{
		box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.78);
		&:before,
		&:after{
			opacity: 1;
		}
	}
}

.information-section{
	background: #fffefc;
	padding: 0 0 150px;
	margin-top: -12px;
}

.room-info-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
}

.room-info-list{
	width: ~"calc(33.333% - 30px)";
	margin: 0 15px 30px;
	box-shadow: -2px 8.8px 9px 0 rgba(252, 241, 221, 0.78);
  	background: #fff;
  	border: solid 6px #fcf1dd;
  	padding: 58px 60px 50px;
  	li{
		margin-bottom: 6px;
		font-size: 18px;
		font-family: @regular;
		display: flex;
		align-items: center;
		min-height: 24px;
	}
  	.title{
		padding-bottom: 26px;
		margin-bottom: 25px;
		border-bottom: 1px solid #fcf1dd;
		font-family: @bold;
		font-size: 24px;
		color: @brown;
		.img-block{
			margin-right: 10px;
		}
	}
	.img-block{
		flex-shrink: 0;
		text-align: center;
		margin-right: 20px;
		width: 24px;
		font-size: 18px;
		color: @brown;
	}
}

.fixed-bottom-line{
	background: rgba(254,251,245,0.95);
	box-shadow: -2px 8.8px 9px 0 rgba(252, 241, 221, 0.78);
	padding: 30px 0;
	z-index: 45;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: none;
	&.stop{
		position: absolute;
	}
	.line-content{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h3{
		text-transform: uppercase;
		margin-bottom: 0;
	} 
	.price{
		color: @brown;
		font-size: 30px;
		margin: 0 110px 0 85px;
		.rub {
		    font-size: 29px;
		}
	}
	.btn{
		flex-shrink: 0;
	}
}

.info-table-section{
	.dop-info{
		font-family: @bold;
		text-align: left;
		padding-left: 440px;
		p{
			margin-bottom: 5px;
		}
	}
	& + .about-section{
		padding-bottom: 60px;
	}
}

.info-table-outer{
	padding-left: 110px;
	margin-bottom: 50px;
}

.info-table{
	width: 100%;
	text-align: left;
	tr{
		height: 1px;
	}
	th{
		padding-right: 25px;
		&:first-child{
			position: relative;
			&:before{
				content: "";
				height: 100%;
				width: 100vw;
				background: #fefbf5;
				position: absolute;
				left: -110px;
				top: 0;
			}
		}
	}
	td{
		vertical-align: top;
		&:first-child{
			position: relative;
			&:before{
				content: "";
				height: 100%;
				width: 100vw;
				background: #fefbf5;
				position: absolute;
				left: -110px;
				top: 0;
				transition: @transition;
			}
		}
		&:first-child{
			min-width: 270px;
		}
		&:last-child{
			min-width: 330px;
		}
	}
	tbody{
		tr{
			&:last-child{
				.info-text{
					border-bottom-color: transparent !important;
				}
				&:hover{
					td{
						&:first-child{
							&:before{
								background: #fffefc;
								box-shadow: -3px 9px 9px 0px rgba(244,228,199,0.83);
							}
						}
					}
				}
			}
			&:hover{
				z-index: 5;
				td{
					&:first-child{
						&:before{
							background: #fffefc;
							box-shadow: -3px 7px 7px 0px rgba(244,228,199,0.83);
						}
					}
				}
				.info-text{
					border-bottom-color: transparent;
					.btn{
						opacity: 1;
						visibility: visible;
					}
				}
				& + tr td:first-child{
					&:before{
						box-shadow: -8px 9px 9px 0px rgba(244,228,199,0.83) inset;
					}
				}
			}
		}
	}
	.title{
		white-space: nowrap;
		display: inline-block;
		min-width: 190px;
		padding: 50px 0 25px;
		border-bottom: 1px solid #fcf1dd;
		color: @brown;
		font-size: 24px;
		font-family: @bold;
		position: relative;
		z-index: 2;
		small{
			font-size: 16px;
			font-family: @regular;
		}
	}
	.info-text{
		position: relative;
		z-index: 5;
		border-bottom: 1px solid #fcf1dd;
		min-height: 112px;
		height: 100%;
		padding: 30px 25px 15px 0;
		.btn{
			position: absolute;
			top: 30px;
			right: 0;
			opacity: 0;
			visibility: hidden;
			transition: @transition;
		}
	}
	p{
		margin-bottom: 15px;
		font-family: @regular;
		font-size: 18px;
		white-space: nowrap;
		small{
			font-size: 14px;
		}
	}
}

.order-title-section{
	background: #fffefc;
	padding: 35px 0 29px;
	.line{
		background: #3a2405 url("../images/top_section_line_bg.png") no-repeat right center;
		height: 28px;
		width: 100%;
	}
	.big-img{
		position: absolute;
		z-index: 4;
		right: 15px;
		top: 0;
		width: 35vw;
		img{
			height: 532px;
			width: 100%;
			object-fit: cover;
		}
	}
	.order-form{
		display: flex;
		padding: 0 110px;
		padding-bottom: 5px;
		h4{
			margin-bottom: 27px;
			font-size: 36px;
		}
	}
	.visible-xs{
		display: none;
	}
	.order-form-right{
		padding-left: 90px;
		margin-top: -6px;
	}
	.breadcrumbs{
		margin-left: 440px;
		margin-top: 40px;
		margin-bottom: 18px;
	}
	h1{
		margin-left: 440px;
		color: #debda5;
		font-size: 36px;
		margin-bottom: 0;
		text-transform: none;
		padding-bottom: 27px;
		margin-bottom: 32px;
		position: relative;
		small{
			font-family: @light;
		}
		&:after{
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100vw;
			height: 1px; 
			background: #debda5;
		}
	}
	.year-price{
		margin-left: 440px;
		h2{
			margin-bottom: 52px;
		}
		p{
			font-family: @regular;
			margin-bottom: 20px;
			line-height: 1.429;
		}
	}
	.about-list{
		padding: 30px 0 40px 40px;
		position: relative;
		z-index: 10;
		justify-content: center;
		li{
			width: 200px;
		}
	}
}

.rules-section{
	background: #fffefc;
	padding: 50px 0 100px;
	.room-info-list{
		.title{
			.img-block{
				margin-right: 13px;
				margin-top: 2px;
			}
		}
	}
	.rule-detail{
		display: block;
		p{
			padding-top: 15px;
			color: #917d62;
			font-family: @regular;
			font-size: 14px;
			line-height: 1.429;
		}
	}
	.rule-schedule{
		display: block;
		margin: 0 -40px 0 -10px;
		li{
			line-height: 1.333;
			align-items: flex-start;
			justify-content: flex-start;
			text-align: left;
			margin-bottom: 10px;
			span{
				display: block;
				padding: 0 10px;
				min-width: 158px;
			}
			strong{
				width: 130px;
				padding: 0 10px;
				flex-shrink: 0;
				color: @brown;
				display: block;
			}
		}
	}
}

.pagination{
	display: inline-block;
	vertical-align: middle;
	li{
		display: inline-block;
		vertical-align: middle;
		font-size: 36px;
		margin-right: 20px;
	}
	a{
		color: @brown;
		transition: @transition;
		&:hover{
			color: @blue;
			text-decoration: underline;
		}
	}
	.active-page{
		color: @blue;
		text-decoration: underline;
	}
}

.our-rooms-section{
	background: #fffefc;
	padding: 35px 0 50px;
	.all-rooms{
		margin-top: 50px;
		text-align: right;
	}
}

.our-rooms-outer{
	position: relative;
	background: #fcf1dd;
	&:before{
		content: "";
		display: block;
		width: 50vw;
		height: 100%;
		position: absolute;
		right: 100%;
		top: 0;
		background: #fcf1dd;
	}
}

.our-rooms-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.room-content{
		width: 520px;
		flex-wrap: wrap;
		background: #fcf1dd;
	}
	.room-arrows{
		left: auto;
		right: 0;
	}
	.slider-container{
		width: 100%;
		.slider-big{
			height: 400px;
		}
	}
	.room-type{
		width: auto;
		flex-grow: 1;
	}
	.room-description{
		width: 190px;
		flex-shrink: 0;
		background: #fefbf5 !important;
		padding: 57px 42px 120px;
	}
	.facilities-list{
		margin-bottom: 20px;
	}
	.facilities-block{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
		h6{
			line-height: 1.250;
			margin-bottom: 32px;
		}
	}
	.simple-btn{
		margin-top: 20px;
		display: block;
		max-width: 241px;
		span{
			width: 100%;
		}
	}
}

.reviews-page-section{
	padding: 30px 0 70px;
	background: #fffefc;
	.reviews-links{
		padding-top: 15px;
		margin-left: 150px;
	}
	.pagination{
		margin-right: -20px;
	}
}

.reviews-page-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 150px;
	.review-block{
		margin-bottom: 30px;
	}
}

/*================= МОДАЛКИ ======================*/
.popup-modal{
	margin: 30px auto;
	position: relative;
	background: #fff;
	border-radius: 3px;
	max-width: 838px;
	.mfp-close{
		right: 20px;
		height: auto;
		width: auto;
		line-height: 1;
		font-size: 1px;
    	top: 20px;
    	transition: @transition;
    	opacity: 1;
    	i, img{
			pointer-events: none;
		}
		&:hover{
			.icon-close_popup{
				&:extend(.icon-close_popup_hover);
			}
		}
	}
} 


.mfp-bg {
  background: #3a2405; 
}

.mfp-zoom-in {
  /* start state */ 
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.6;
    }
  } 
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

/*================= MEDIA ======================*/

@media(min-width:1340px){
	.header-options{
		.simple-btn{
			span{
				padding: 10px 41px 11px;
			}
			&:hover span{
				padding: 9px 40px 10px;
			}
		}
	}
}

@media(max-width:1339px){
	.order-section{
		.img-content{
			img{
				height: 600px;
				object-fit: cover;
				width: 100%;
			}
		}
		.img-text{
			bottom: 50px;
			right: 50px;
		}
	}
	.about-section .about-pic{
		margin-top: 40px;
	}
	.about-description{
		padding-left: 25px;
	}
	.room-content{
		.btn span{
			padding: 7px 20px 8px;
		}
	}
	.room-description{
		padding: 135px 25px 25px;
	}
	.slider-container .slider-big{
		max-height: 700px;
	}
	.gallery-block,
	.gallery-container::before{
		height: 250px;
	}
	.reviews-arrows{
		margin-left: 0;
	}
	.reviews-slider{
		.slider-count{
			margin-left: -100px;
		}
	}
	.total-rating{
		height: 180px;
		width: 180px;
		padding-top: 35px;
		p{
			font-size: 16px;
		}
	}
	.review-block{
		max-width: 730px;
		padding: 40px 30px;
	}
	.reviews-links{
		max-width: 730px;
	}
	.footer-menu{
		padding-left: 45px;
		li{
			margin-right: 20px;
		}
	}
	.footer-top{
		.simple-btn{
			margin-left: 20px;
		}
	}
	.map-content{
		margin-left: -490px;
	}
	.main-logo{
		padding: 7px 0;
		display: inline-block;
		transition: @transition;
		img{
			max-width: 250px;
		}
	} 
	.header-options{
		margin-left: -50px;
		.phone{
			font-size: 16px;
			white-space: nowrap;
		}
		.simple-btn{
			margin-left: 15px;
			span{
				white-space: nowrap;
			}
		}
	}
	.header-menu{
		& > li{
			margin-right: 15px;
			&:first-child{
				margin-right: 10px;
			}
			.icon-select_arrow{
				margin-left: 6px;
			}
		}
	}
	.footer-top{
		padding: 25px 0 40px;
		.footer-flex{
			flex-wrap: wrap;
	   		justify-content: flex-end;
		}
	} 
	.footer-menu{
		text-align: right;
	}
	.footer-logo{
		position: relative;
		top: 25px;
	}
	.about-section{
		padding-bottom: 70px;
	}
	.room-info-list{
		padding: 48px 20px 40px;
	}
	.fixed-bottom-line .price{
		margin: 0 80px 0 55px;
	}
	.title-section .title-content{
		padding-left: 300px;
	}
	.order-title-section{
		.order-form{
			padding: 0;
			padding-left: 10px;
		}
		.order-form-right{
			padding-left: 35px;
		}
		h1,
		.breadcrumbs,
		.year-price{
			margin-left: 260px;
		}
	}
	.info-table-section{
		.info-container{
			width: 100%;
		}
		.dop-info{
			padding-left: 270px;
		}
	} 
	.info-table-outer{
		padding-left: 40px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.info-table{
		td,th{
			&:first-child::before{
				left: -40px;
			}
		}
		td:first-child{
			min-width: 240px;
		}
		.title{
			min-width: 170px;
		}
	}
	.our-rooms-content{
		h3{
			font-size: 34px;
		}
		.room-content{
			width: 460px;
		}
		.room-description{
			padding: 57px 30px 100px;
			width: 172px;
		}
		.simple-btn{
			max-width: 218px;
		}
	}
	.reviews-page-content{
		padding-left: 75px;
	}
	.reviews-page-section .reviews-links{
		margin-left: 75px;
	}
}

@media(min-width:1020px){
	.header-options{
		display: flex !important;
	}
	header{
		& + .main-content{
			padding-top: 185px;
		}
		&.main-page{
			& + .main-content{
				padding-top: 140px;
			}
		}
		&.inner-page{
			& + .main-content{
				padding-top: 155px;
			}
		}
		&.fixedtop{
			box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
			padding: 15px 0 !important;
			.languages-list{
				opacity: 0;
				visibility: hidden;
			}
			.main-logo{
				padding: 0;
				img{
					max-width: 201px;
				}
			} 
		}
	}
}

@media(max-width:1019px){
	header{
		padding: 15px 0;
		&.inner-page{
			padding-bottom: 15px;
		}
		& + .main-content{
			padding-top: 98px !important;
		}
		&.fixedtop{
			box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
		}
	}
	.mobile-buter{
		display: block;
		float: right;
	}
	.header-options{
		display: none;
		margin-top: 20px;
		position: absolute;
		top: 100%;
		margin-left: 0;
		width: auto;
		background: #fff;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
		width: 250px;
		padding: 15px;
		right: 15px;
		.phone{
			display: none;
		}
		.simple-btn{
			margin-left: 0;
			width: 100%;
			span{
				width: 100%;
			}
		}
	}
	.room-categories{
		display: none !important;
	}
	.header-menu{
		margin-bottom: 10px;
		li{
			display: block;
			margin-right: 0 !important;
			margin-bottom: 0;
		}
		.icon-select_arrow{
			display: none;
		}
	}
	.languages-list{
		top: 10px;
		right: 10px;
	}
	.main-logo{
		padding: 0;
		img{
			max-width: 220px;
		}
	} 
	.popup-flex .popup-img{
		display: none;
	}
	.order-section{
		padding-bottom: 30px;
		border-top-width: 38px;
		.row{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
			align-items: center;
			.col-md-7{
				width: 100%;
			}
		}
		.order-img{
			margin-top: -70px;
			margin-bottom: 30px;
		}
		.img-content{
			margin-top: 0;
			position: relative;
			img{
				height: 450px;
			}
		}
		.order-form{
			text-align: center;
		}
	}
	.about-pic{
		display: none;
	}
	.about-section{
		padding: 40px 0 55px;
	}
	.room-content{
		flex-wrap: wrap;
	}
	.room-type{
		width: 50%;
	}
	.room-description{
		width: 50%;
		padding: 73px 50px 25px;
	}
	.slider-container{
		width: 100%;
		.slider-big{
			height: 400px;
		}
	}
	.gallery-block{
		width: 50%;
		height: 300px;
	}
	.gallery-container::before{
		height: 300px;
	}
	.reviews-section{
		padding: 50px 0 80px;
	}
	.review-block{
		max-width: 100%;
		min-height: 1px;
	}
	.total-rating{
		display: none;
	}
	.reviews-slider{
		margin-left: 20px;
		.slider-count{
			margin-left: -95px;
		}
	}
	.about-description{
		padding-left: 0;
	}
	#map{
		width: 100%;
		height: 400px;
	}
	.map-content{
		position: static;
		margin: 30px auto;
		width: 450px;
		min-width: 1px;
	}
	.room-slider-small{
		padding-right: 5px;
		margin-bottom: 0;
	}
	.room-info-list{
		padding: 48px 35px 40px;
		width: ~"calc(50% - 30px)";
	}
	.fixed-bottom-line{
		h3{
			font-size: 30px;
		}
		.price{
			margin: 0 25px;
			font-size: 25px;
			.rub{
				font-size: 24px;
			}
		}
	}
	.title-section{
		padding: 30px 0 40px;
		.title-content{
			padding-left: 0;
		}
	} 
	.breadcrumbs{
		margin-bottom: 7px;
	}
	.order-title-section{
		.big-img{
			display: none;
		}
		.order-form{
			padding-left: 0;
		}
		h1,
		.breadcrumbs,
		.year-price{
			margin-left: 0;
		}
		.year-price h2{
			margin-bottom: 30px;
		}
		.about-list{
			padding: 30px 0 15px;
			h6{
				font-size: 16px;
			}
		}
	}
	.info-table-section{
		.dop-info{
			padding-left: 0;
		}
	}
	.info-table-outer{
		overflow: auto;
		background: #fefbf5;
	}
	.info-table{
		td{
			&:last-child{
				min-width: 340px;
			}
		}
		.info-text{
			.btn{
				opacity: 1;
				visibility: visible;
				right: 10px;
			}
		}
		td,th{
			&:first-child{
				&:before{
					display: none;
				}
			}
		}
		.info-text{
			border-bottom: 1px solid #fcf1dd !important;
		}
	}
	.our-rooms-content{
		h3{
			font-size: 36px;
		}
		.room-content{
			width: 100%;
		}
		.room-description{
			padding: 57px 30px 80px;
			width: 310px;
		}
	}
	.reviews-page-content{
		padding-left: 0;
	}
	.reviews-page-section .reviews-links{
		margin-left: 0;
	}
	.order-section{
		border-top-width: 35px;
	}
}

@media(max-width:767px){
	.main-logo{
		img{
			max-width: 180px;
		}
	}
	header + .main-content{
		padding-top: 88px !important;
	}
	.order-section{
		border-top-width: 32px;
	}
	.reviews-slider{
		margin-left: 0;
		.slider-count{ 
			left: 50%;
			margin-left: 0;
			margin-top: -81px;
			transform: translateX(-50%);
		}
	}
	.reviews-arrows{
		flex-direction: row; 
		justify-content: space-between;
		margin-bottom: 25px;
		margin-top: 0;
		.arrow-prev,
		.arrow-next{
			transform: none;
		}
	}
	.order-section{
		.order-img{
			width: ~"calc(100% + 30px)";
			margin: -70px -15px 30px;
			img{
				height: auto;
				min-height: 320px;
			}
		}
	}
	h1{
		font-size: 55px;
	}
	h2{
		font-size: 44px;
		margin-bottom: 35px;
	}
	h3{
		font-size: 33px;
	}
	h4{
		font-size: 30px;
	}
	.room-type{
		padding-right: 20px;
		.price{
			font-size: 28px;
		}
	}
	.room-description{
		padding: 70px 25px 25px;
	}
	.gallery-block,
	.gallery-container::before{
		height: 270px;
	}
	.reviews-section{
		padding: 35px 0 50px;
	}
	.reviews-links{
		flex-direction: column-reverse;
		.btn{
			margin-top: 25px;
		}
	}
	.footer-flex{
		flex-direction: column;
	}
	.footer-bottom p{
		order: 1;
		margin-top: 15px;
	}
	.footer-logo{
		top: 0;
	}
	.footer-menu{
		padding-left: 0;
		margin: 18px 0;
		li:last-child{
			margin-right: 0;
		}
	}
	.footer-top{
		padding: 25px 0;
		.simple-btn{
			margin: 18px 0 0;
		}
	} 
	.popup-information{
		padding: 25px 15px;
	}
	.simple-form label.error::after{
		right: -23px;
	}
	.simple-form textarea{
		height: 120px;
	}
	.room-slider-small{
		display: none !important;
	}
	.single-room .slider-container .slider-big{
		margin-bottom: 0;
	}
	.room-info-list{
		width: 100%;
		max-width: 320px;
		padding: 35px 20px 30px;
	}
	.fixed-bottom-line{
		padding: 15px 0;
		h3{
			margin-right: 15px;
			font-size: 24px;
		}
		.price{
			display: none;
		}
	}
	.information-section{
		padding-bottom: 120px;
	}
	.order-title-section{
		.order-form{
			flex-direction: column;
			align-items: center;
			margin-bottom: 25px;
			h4{
				text-align: center;
				font-size: 32px;
			}
		}
		.visible-xs{
			display: block;
		}
		.order-form-right{
			margin-top: 0;
			padding-left: 0;
			text-align: center;
			h4{
				display: none;
			}
		}
		.about-list{
			flex-wrap: wrap;
			padding-bottom: 0;
			margin-bottom: -25px;
			flex-direction: row;
			.img-block{
				margin: 0 auto 20px;
			}
			li{
				text-align: center;
				margin-bottom: 35px;
				width: 180px;
			}
		}
	}
	.our-rooms-content{
		h3{
			font-size: 34px;
		}
		.room-description{
			width: 172px;
		}
	}
	.pagination{
		display: block;
		margin-bottom: 20px; 
	}
	.our-rooms-section .all-rooms{
		margin-top: 30px;
	}
	.rules-section .rule-schedule{
		margin-right: -20px;
		li{
			font-size: 16px;
			strong{
				width: 120px;
			}
		}
	}
	.rules-section{
		padding-top: 20px;
	}
	.header-options{
		right: 0;
	}
}

@media(max-width:480px){
	.header-options{
		margin-top: 30px;
	}
	.order-section{
		.img-text{
			left: 15px;
			bottom: 20px;
		}
		.slogan{
			font-size: 20px;
		}
	}
	h1{
		font-size: 50px;
	}
	h2{
		font-size: 38px;
	}
	h3{
		font-size: 30px;
	}
	h4{
		font-size: 28px;
	}
	.order-inputs{
		.input-label{
			margin-right: 10px;
			padding: 15px;
			width: 96px;
		}
	}
	.about-list{
		flex-direction: column;
		align-items: center;
		margin: 0 auto -35px;
		li{
			text-align: center;
			margin-bottom: 35px;
			width: auto;
		}
		.img-block{
			margin: 0 auto 20px;
		}
	}
	.room-type{
		padding-right: 0;
		width: 100%;
	}
	.room-description{
		width: 100%;
		padding: 40px 25px;
	}
	.slider-container .slider-big{
		height: 350px;
	}
	.big-arrow-link{
		font-size: 30px;
		i{
			margin-left: 10px;
		}
	}
	.gallery-section{
		padding-top: 25px;
	}
	.gallery-flex{
		margin: 0 -5px;
	}
	.gallery-block{
		padding: 0 5px;
		margin-bottom: 10px;
		height: 230px;
	}
	.gallery-container::before{
		height: 230px;
		bottom: 10px;
	}
	.map-content{
		width: auto;
		margin: 30px 10px;
		padding: 35px 20px 20px;
		li{
			font-size: 17px;
		}
	}
	.footer-menu{
		li{
			margin-right: 0;
			display: block;
			text-align: center;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.review-author{
		.name{
			display: block;
			margin-bottom: 12px;
		}
	}
	.review-rating{
		flex-wrap: wrap;
		.title{
			width: 100%;
			margin-left: 15px;
			margin-top: 15px;
		}
	}
	.btn span{
		padding: 7px 18px 8px;
	}
	.btn.big-btn{
		min-width: 260px;
	}
	.popup-information{
		.order-phone{
			font-size: 13px;
		}
		.order-inputs{
			margin-left: -10px;
			.input-label{
				width: 88px;
				padding: 15px 10px;
			}
			.order-date{
				font-size: 44px;
			}
		}
	}
	.fixed-bottom-line{
		h3{
			display: none;
		}
	}
	.order-title-section{
		.about-list{
			align-items: flex-start;
			li{
				width: 116px;
			}
		}
	}
	.our-rooms-content{
		.room-description{
			width: 100%;
			padding-right: 0;
			padding-bottom: 50px;
		}
	}
	.pagination li{
		font-size: 32px;
	}
}