.form-group {
    position: relative;
}

.has-error .help-block {
    pointer-events: none;
    position: absolute;
    padding: 3px 0;
    top: 7px;
    right: 1px;
    color: #ef3434;
    font-size: 13px;
    display: inline-block;
    background: #ffdfdf;
    width: calc(100% - 18px);
}

.has-error .help-block:after {
    content: url(../images/error_pic.png);
    position: absolute;
    top: -1px;
    right: -30px;
}

.has-error input, .has-error textarea {
    background: #ffdfdf !important;
    color: #ef3434;
    border-color: #fb7f7f;
    position: relative;
}

.BC {
    display: none !important;
}

#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {
    margin: 15px 0;

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    float: left;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}
#reviewStars-input #star-1 {
    left: 53px;
}
#reviewStars-input #star-2 {
    left: 106px;
}
#reviewStars-input #star-3 {
    left: 159px;
}
#reviewStars-input #star-4 {
    left: 212px;
}
#reviewStars-input #star-5 {
    left: 265px;
}

.total-rating {
    right: 95px;
    left: auto;
    top: 13px;
}

.review-block {
    width: 100%;
}

.maps {

}

.maps__item {
    display: none;
    width: 130%;
    height: 667px;
}

.maps__item.active {
    display: block;
}

.switch-map {
    cursor: pointer;
}

#success {
    width: 300px;
}

#success__text {
    padding: 20px;
}

.information-section {
    margin-top: 60px !important;
}