/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

.icon-about_pic_1 {
  background-image: url(../images/sprite.png);
  background-position: 0px -94px;
  width: 37px;
  height: 35px;
}

.icon-about_pic_2 {
  background-image: url(../images/sprite.png);
  background-position: -42px -94px;
  width: 36px;
  height: 33px;
}

.icon-about_pic_3 {
  background-image: url(../images/sprite.png);
  background-position: -104px -38px;
  width: 41px;
  height: 41px;
}

.icon-big_long_arrow {
  background-image: url(../images/sprite.png);
  background-position: -83px -117px;
  width: 80px;
  height: 9px;
}

.icon-big_long_arrow_hover,
.big-arrow-link:hover .icon-big_long_arrow {
  background-image: url(../images/sprite.png);
  background-position: -61px -134px;
  width: 80px;
  height: 9px;
}

.icon-calendar {
  background-image: url(../images/sprite.png);
  background-position: 0px -186px;
  width: 12px;
  height: 12px;
}

.icon-car {
  background-image: url(../images/sprite.png);
  background-position: -176px -66px;
  width: 23px;
  height: 21px;
}

.icon-card {
  background-image: url(../images/sprite.png);
  background-position: 0px -157px;
  width: 35px;
  height: 24px;
}

.icon-close_popup {
  background-image: url(../images/sprite.png);
  background-position: -40px -157px;
  width: 14px;
  height: 14px;
}

.icon-close_popup_hover,
.popup-modal .mfp-close:hover .icon-close_popup {
  background-image: url(../images/sprite.png);
  background-position: -144px -94px;
  width: 14px;
  height: 14px;
}

.icon-halflux {
  background-image: url(../images/sprite.png);
  background-position: -104px 0px;
  width: 67px;
  height: 33px;
}

.icon-halflux_hover,
.room-categories a:hover .icon-halflux {
  background-image: url(../images/sprite.png);
  background-position: 0px -56px;
  width: 67px;
  height: 33px;
}

.icon-key {
  background-image: url(../images/sprite.png);
  background-position: -176px 0px;
  width: 33px;
  height: 39px;
}

.icon-letter {
  background-image: url(../images/sprite.png);
  background-position: -150px -64px;
  width: 19px;
  height: 13px;
}

.icon-long_arrow {
  background-image: url(../images/sprite.png);
  background-position: -146px -134px;
  width: 29px;
  height: 7px;
}

.icon-long_arrow_hover,
.arrow-link:hover .icon-long_arrow {
  background-image: url(../images/sprite.png);
  background-position: -176px -117px;
  width: 29px;
  height: 7px;
}

.icon-lux {
  background-image: url(../images/sprite.png);
  background-position: -52px 0px;
  width: 47px;
  height: 51px;
}

.icon-lux_hover,
.room-categories a:hover .icon-lux {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 47px;
  height: 51px;
}

.icon-man {
  background-image: url(../images/sprite.png);
  background-position: -17px -186px;
  width: 12px;
  height: 11px;
}

.icon-metro {
  background-image: url(../images/sprite.png);
  background-position: -176px -44px;
  width: 29px;
  height: 17px;
}

.icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -176px -92px;
  width: 23px;
  height: 20px;
}

.icon-plane {
  background-image: url(../images/sprite.png);
  background-position: -150px -38px;
  width: 21px;
  height: 21px;
}

.icon-select_arrow {
  background-image: url(../images/sprite.png);
  background-position: -180px -134px;
  width: 12px;
  height: 7px;
}

.icon-select_arrow_blue,
.header-menu > li:hover .icon-select_arrow,
.order-inputs .active-label .icon-select_arrow {
  background-image: url(../images/sprite.png);
  background-position: -72px -82px;
  width: 12px;
  height: 7px;
}

.icon-slider_next {
  background-image: url(../images/sprite.png);
  background-position: -80px -157px;
  width: 16px;
  height: 9px;
}

.icon-slider_next_hover,
.slide-arrows .arrow:hover .icon-slider_next {
  background-image: url(../images/sprite.png);
  background-position: -101px -157px;
  width: 16px;
  height: 9px;
}

.icon-slider_prev {
  background-image: url(../images/sprite.png);
  background-position: -122px -157px;
  width: 16px;
  height: 9px;
}

.icon-slider_prev_hover,
.slide-arrows .arrow:hover .icon-slider_prev {
  background-image: url(../images/sprite.png);
  background-position: -59px -157px;
  width: 16px;
  height: 9px;
}

.icon-standart {
  background-image: url(../images/sprite.png);
  background-position: 0px -134px;
  width: 56px;
  height: 18px;
}

.icon-standart_hover,
.room-categories a:hover .icon-standart {
  background-image: url(../images/sprite.png);
  background-position: -83px -94px;
  width: 56px;
  height: 18px;
}

.icon-star_marker {
  background-image: url(../images/sprite.png);
  background-position: -72px -56px;
  width: 17px;
  height: 21px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'UbuntuLight', Arial, Tahoma, sans-serif;
  background: #fffefc;
  font-size: 14px;
  color: #877152;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

*,
*:active,
*:focus {
  outline: none !important;
}

.page {
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

strong {
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
}

.gradient {
  background: #186395;
  background: linear-gradient(to right, #186395 0%, #1b4a6a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#186395', endColorstr='#1b4a6a', GradientType=1);
}

.btn {
  display: inline-block;
  padding: 8px;
  text-align: center;
  color: #fff;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 23px;
  min-width: 150px;
  box-shadow: 0px 6px 13px 0 rgba(29, 111, 161, 0.33);
  background: #186395;
  background: linear-gradient(to right, #186395 0%, #1b4a6a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#186395', endColorstr='#1b4a6a', GradientType=1);
}

.btn span {
  border-radius: 23px;
  display: inline-block;
  background: trasparent;
  transition: all 0.3s ease-out;
  padding: 7px 32px 8px;
}

.btn:hover span {
  background: #fcf1dd;
  color: #195e8d;
}

.btn.big-btn {
  min-width: 300px;
  border-radius: 28px;
  margin-bottom: 20px;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
}

.btn.big-btn span {
  width: 100%;
  height: 100%;
  border-radius: 28px;
  padding: 9px 32px 10px;
}

.simple-btn {
  display: inline-block;
  text-align: center;
  border: solid 1px #957965;
  font-size: 14px;
  font-family: 'UbuntuLight', Arial, Tahoma, sans-serif;
  border-radius: 18px;
}

.simple-btn span {
  display: inline-block;
  color: #3a2405;
  border-radius: 18px;
  padding: 9px 35px 10px;
  transition: background 0.25s ease-out;
}

.simple-btn:hover {
  border-width: 2px;
}

.simple-btn:hover span {
  padding: 8px 34px 9px;
  color: #877152;
  background: #fff;
}

button.btn {
  border: none;
  cursor: pointer;
  padding: 8px;
  font-family: 'UbuntuLight', Arial, Tahoma, sans-serif;
  font-size: 18px;
}

.simple-form {
  width: 100%;
}

.simple-form input,
.simple-form textarea,
.simple-form select {
  height: 34px;
  background: #fffefc;
  border: solid 1px #fcf1dd;
  color: #877152;
  display: block;
  width: 100%;
  border-radius: 2px;
  font-size: 13px;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
  transition: all 0.3s ease-out;
  margin-bottom: 10px;
  padding: 0 15px;
}

.simple-form input:focus,
.simple-form textarea:focus,
.simple-form select:focus {
  box-shadow: 0px 9px 9px 0px rgba(244, 228, 199, 0.78);
  background: #fff;
}

.simple-form textarea {
  height: 70px;
  padding: 10px 15px;
  resize: none;
  line-height: 1.15;
}

.simple-form button {
  margin: 20px auto 10px;
  display: block;
}

.simple-form input.error,
.simple-form textarea.error {
  background: #ffdfdf;
  color: #ef3434;
  border-color: #fb7f7f;
  position: relative;
}

.simple-form input.error:after,
.simple-form textarea.error:after {
  content: "sdafasdfs";
  position: relative;
  right: -10px;
}

.simple-form label.error {
  pointer-events: none;
  position: absolute;
  padding: 3px 0;
  top: 7px;
  right: 1px;
  color: #ef3434;
  font-size: 13px;
  display: inline-block;
  background: #ffdfdf;
  width: calc(100% - 18px);
}

.simple-form label.error:after {
  content: url("../images/error_pic.png");
  position: absolute;
  top: -1px;
  right: -30px;
}

.simple-form .input-block {
  position: relative;
}

.arrow-link {
  transition: all 0.3s ease-out;
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
}

.arrow-link i {
  margin-left: 6px;
}

.arrow-link:hover {
  color: #1b4a6a;
}

.arrow-link:hover span {
  text-decoration: underline;
}

.big-arrow-link {
  transition: all 0.3s ease-out;
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
  color: #3a2405;
  white-space: nowrap;
}

.big-arrow-link i {
  margin-left: 19px;
}

.big-arrow-link:hover {
  color: #1b4a6a;
}

.big-arrow-link:hover span {
  text-decoration: underline;
}

h1 {
  color: #3a2405;
  font-size: 60px;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  color: #3a2405;
  margin-bottom: 50px;
}

h2 strong {
  color: #1b4a6a;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
}

h3 {
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
  font-size: 36px;
  color: #1b4a6a;
  margin-bottom: 30px;
}

h4 {
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
  font-size: 30px;
  color: #1b4a6a;
  margin-bottom: 36px;
}

h4 small {
  color: #3a2405;
  font-family: 'UbuntuLight', Arial, Tahoma, sans-serif;
}

header {
  padding: 30px 0 60px;
  position: relative;
  z-index: 50;
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}

header .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

header.main-page {
  padding-bottom: 15px;
}

header.inner-page {
  padding-bottom: 30px;
}

.main-logo img {
  max-width: 300px;
  display: block;
  transition: all 0.3s ease-out;
}

.header-options {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -6px;
}

.header-options .phone {
  color: #3a2405;
  font-size: 18px;
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
}

.header-options .simple-btn {
  margin-left: 30px;
}

.languages-list {
  position: absolute;
  right: 0;
  top: -44px;
  transition: all 0.3s ease-out;
}

.languages-list li {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.languages-list li:after {
  content: "|";
  margin-left: 7px;
}

.languages-list li:last-child {
  margin-right: 0;
}

.languages-list li:last-child:after {
  display: none;
}

.languages-list a:hover {
  text-decoration: underline;
}

.languages-list .active {
  text-decoration: underline;
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
}

.header-menu {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header-menu > li {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-align: left;
  margin-right: 26px;
  margin-bottom: -9px;
  padding-bottom: 9px;
  position: relative;
}

.header-menu > li:first-child {
  margin-right: 14px;
}

.header-menu > li:last-child {
  margin-right: 10px;
}

.header-menu > li:hover > a {
  color: #1b4a6a;
  text-decoration: underline;
}

.header-menu > li:hover .room-categories {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-out 0.2s;
}

.header-menu > li .icon-select_arrow {
  margin-left: 12px;
}

.header-menu > li > a {
  transition: all 0.3s ease-out;
  color: #3a2405;
  position: relative;
}

.room-categories {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 1px solid #debda5;
  box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.83);
}

.room-categories li {
  background: #186395;
  background: linear-gradient(to right, #186395 0%, #1b4a6a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#186395', endColorstr='#1b4a6a', GradientType=1);
}

.room-categories a {
  display: block;
  width: 174px;
  height: 100%;
  text-align: center;
  padding: 27px 20px 36px;
  background: #fff;
  color: #3a2405;
  transition: all 0.3s ease-out;
}

.room-categories a:hover {
  background: transparent;
  color: #fff;
}

.room-categories .img-block {
  height: 51px;
  line-height: 51px;
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.room-categories .img-block i {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.room-categories h5 {
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.room-categories .active-category {
  background: #fcf1dd;
}

.footer-top {
  padding: 40px 0;
  background: #fcf1dd;
}

.footer-top .phone {
  font-size: 18px;
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
}

.footer-top .simple-btn {
  margin-left: 30px;
  font-size: 16px;
}

.footer-menu {
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 138px;
}

.footer-menu li {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 30px;
}

.footer-menu a {
  transition: all 0.3s ease-out;
}

.footer-menu a:hover {
  text-decoration: underline;
  color: #1b4a6a;
}

.footer-bottom {
  padding: 25px 0;
  background: #3a2405;
}

.footer-bottom a {
  text-decoration: underline;
}

.footer-bottom a:hover {
  text-decoration: none;
}

.footer-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-logo {
  opacity: 0.65;
}

.footer-logo img {
  width: 190px;
}

.map-section {
  position: relative;
}

#map {
  width: 130%;
  height: 667px;
}

.map-content {
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -642px;
  top: 65px;
  box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.83);
  background-color: #ffffff;
  border: solid 6px #fcf1dd;
  padding: 48px 45px 25px;
  min-width: 410px;
  text-align: left;
}

.map-content h3 {
  margin-bottom: 27px;
}

.map-content ul {
  margin-bottom: 28px;
}

.map-content li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 13px;
}

.map-content .img-block {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 12px;
  text-align: center;
  width: 29px;
}

.map-content a {
  transition: all 0.3s ease-out;
}

.map-content a:hover {
  text-decoration: underline;
  color: #1b4a6a;
}

.reviews-section {
  padding: 90px 0 115px;
  background: #fefbf5;
}

.reviews-section h2 {
  text-align: center;
  padding-left: 20px;
}

.reviews-arrows {
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 110px;
}

.reviews-arrows .arrow {
  margin-right: 0;
  margin-bottom: -1px;
}

.reviews-arrows .arrow-prev {
  transform: rotate(90deg);
}

.reviews-arrows .arrow-next {
  transform: rotate(90deg);
}

.reviews-slider .slick-list {
  margin: 0 -10px -20px;
}

.reviews-slider .slider-count {
  margin-left: -125px;
  margin-top: -22px;
}

.review-block {
  box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.83);
  background-color: #ffffff;
  border: solid 6px transparent;
  margin: 0 10px 50px;
  padding: 45px 55px;
  max-width: 850px;
  position: relative;
  min-height: 270px;
  text-align: left;
}

.review-block.active-review {
  border-color: #fcf1dd;
}

.review-block p {
  line-height: 1.43;
}

.total-rating {
  width: 240px;
  height: 240px;
  box-shadow: 0px 18px 35px 0 rgba(255, 189, 70, 0.61);
  background: #ffbd46 url("../images/total_rating_bg.png") right bottom no-repeat;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 100%;
  top: -3px;
  margin-left: -32px;
  text-align: center;
  padding: 70px 15px 0;
}

.total-rating .value {
  color: #fff;
  font-size: 48px;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
  margin-bottom: 12px;
}

.total-rating p {
  color: #3a2405;
  font-size: 18px;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
}

.total-rating strong {
  display: block;
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
  line-height: 1.33;
}

.review-author {
  margin-bottom: 16px;
}

.review-author .name {
  font-size: 24px;
  display: inline-block;
  margin-right: 12px;
  color: #1b4a6a;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
}

.review-rating {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 14px;
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
  font-size: 24px;
  margin-left: -15px;
}

.review-rating .value {
  width: 120px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 25px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background: #ffbd46;
  padding: 8px;
}

.review-rating .title {
  color: #3a2405;
}

.reviews-links {
  position: relative;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 850px;
}

.rooms-section {
  padding: 0 0 35px;
  background: #fffefc;
}

.rooms-section .all-rooms {
  text-align: right;
  margin-top: -9px;
}

.room-container {
  margin-bottom: 40px;
  background: #fcf1dd;
  position: relative;
  text-align: left;
}

.room-container:nth-of-type(even) {
  background: #fefbf5;
}

.room-container:nth-of-type(even) .room-description {
  background: #fcf1dd;
}

.room-container:nth-of-type(even) .facilities-block {
  border-bottom-color: #fefbf5;
}

.room-content {
  display: -ms-flexbox;
  display: flex;
}

.room-type {
  width: 25%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  padding: 54px 30px 58px 0;
}

.room-type .status {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffbd46;
  box-shadow: 0px 3px 6px 0 rgba(255, 189, 70, 0.61);
  font-size: 16px;
  color: #fffefc;
  text-transform: uppercase;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
  padding: 8px 22px;
}

.room-type h3 {
  margin-bottom: 31px;
  text-transform: uppercase;
}

.room-type p {
  line-height: 1.43;
  margin-bottom: 31px;
}

.room-type .price {
  color: #3a2405;
  font-size: 30px;
  margin-bottom: 35px;
}

.room-type .rub {
  font-size: 29px;
}

.facilities-block h6 {
  font-size: 16px;
  color: #3a2405;
  margin-bottom: 25px;
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
}

.room-description {
  width: 25%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #fefbf5;
  padding: 115px 50px 25px 48px;
  position: relative;
  z-index: 5;
}

.room-description .facilities-block {
  padding-bottom: 57px;
  border-bottom: 1px solid #fcf1dd;
  margin-bottom: 28px;
}

.facilities-list {
  margin: 0 -4px 13px;
  color: #3a2405;
}

.facilities-list li {
  position: relative;
  display: inline-block;
  margin: 0 4px 10px;
}

.facilities-list li:hover {
  z-index: 5;
}

.facilities-list li:hover .img-block {
  border-color: #957a66;
}

.facilities-list li:hover .desc {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-out;
}

.facilities-list .img-block {
  background-color: #ffffff;
  border: solid 2px transparent;
  box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.78);
  width: 46px;
  height: 46px;
  display: -ms-flexbox;
  display: flex;
  transition: all 0.3s ease-out;
}

.facilities-list .img-block i {
  margin: auto;
  font-size: 21px;
}

.facilities-list .desc {
  position: absolute;
  background: #ffbd46;
  padding: 6px 20px 8px;
  top: 8px;
  opacity: 0;
  visibility: hidden;
}

.facilities-list .desc.left {
  right: 100%;
  margin-right: 9px;
}

.facilities-list .desc.left:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 189, 70, 0);
  border-left-color: #ffbd46;
  border-width: 5px;
  margin-top: -5px;
}

.facilities-list .desc.right {
  left: 100%;
  margin-left: 9px;
}

.facilities-list .desc.right:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 189, 70, 0);
  border-right-color: #ffbd46;
  border-width: 5px;
  margin-top: -5px;
}

.room-more-info {
  text-align: left;
  color: #3a2405;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
  margin-bottom: 45px;
}

.room-more-info li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}

.room-more-info .img-block {
  width: 40px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 18px;
}

.room-more-info span {
  line-height: 1.43;
  display: inline-block;
}

.slider-container {
  position: relative;
  width: 50vw;
  background: #fffefc;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-height: 0;
  min-width: 0;
}

.slider-container .slider-big {
  height: 100%;
  position: relative;
  min-height: 0;
  min-width: 0;
  max-height: 610px;
}

.room-slider {
  height: 100%;
}

.room-slider .slick-list,
.room-slider .slick-track,
.room-slider .slide {
  height: 100%;
}

.room-slider img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.room-slider .custom_paging {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
}

.slide-arrows {
  display: -ms-flexbox;
  display: flex;
}

.slide-arrows .arrow {
  width: 36px;
  height: 36px;
  border: solid 1px #957965;
  background: #fff;
  margin-right: -1px;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.slide-arrows .arrow i {
  margin: auto;
}

.slide-arrows .arrow:hover {
  background: #186395;
  background: linear-gradient(to right, #186395 0%, #1b4a6a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#186395', endColorstr='#1b4a6a', GradientType=1);
  box-shadow: -1.8px 3.6px 7px 0 rgba(23, 116, 178, 0.38);
}

.room-arrows {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
}

.slider-count {
  position: absolute;
  z-index: 10;
  left: 18px;
  top: 18px;
  color: #7f6e55;
  font-size: 18px;
}

.slider-count .current {
  color: #1b4a6a;
  font-size: 36px;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
}

.gallery-section {
  padding: 5px 0 33px;
  background: #fffefc;
}

.gallery-container {
  position: relative;
}

.gallery-container:before {
  content: "";
  width: 40vw;
  height: 300px;
  background: #3a2405;
  position: absolute;
  bottom: 30px;
  right: 100%;
  display: block;
}

.gallery-container .gallery-arrows {
  margin-bottom: 30px;
}

.gallery-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.gallery-block {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
  height: 300px;
}

.gallery-block.width2 {
  width: 50%;
}

.gallery-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section {
  padding: 60px 0 112px;
}

.about-section .about-pic {
  text-align: center;
}

.about-section .about-pic img {
  max-width: 100%;
}

.about-description {
  padding-left: 112px;
  margin-top: -9px;
}

.about-description p {
  line-height: 1.33;
  font-size: 18px;
  margin-bottom: 52px;
}

.about-list {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.about-list li {
  width: 33.33333%;
  margin: 0 15px;
  text-align: left;
}

.about-list .img-block {
  width: 100px;
  height: 100px;
  box-shadow: -2px 8.8px 9px 0 rgba(252, 241, 221, 0.78);
  background-color: #fffffe;
  border: solid 6px #fcf1dd;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.about-list .img-block i {
  margin: auto;
}

.about-list h6 {
  color: #3a2405;
  line-height: 1.33;
  font-size: 18px;
}

.order-section {
  background: #fffefc;
  border-top: 45px solid #fff;
  padding: 38px 0 85px;
  position: relative;
  z-index: 20;
}

.order-section .line {
  width: 100%;
  height: 70px;
  background: #3a2405 url("../images/top_section_line_bg.png") left center no-repeat;
}

.order-section .order-img {
  position: relative;
  z-index: 10;
}

.order-section .img-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -85px;
}

.order-section .img-content img {
  max-width: 100%;
}

.order-section .img-text {
  position: absolute;
  z-index: 10;
  bottom: 73px;
  right: 78px;
  color: #fff;
  text-align: left;
}

.order-section h1 {
  margin-bottom: 13px;
  color: #fff;
}

.order-section .slogan {
  font-size: 24px;
}

.order-section .order-form {
  margin-bottom: 37px;
}

.order-form {
  text-align: left;
  position: relative;
  z-index: 12;
}

.order-form .btn {
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
}

.order-form .order-phone a {
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
}

.order-inputs {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.order-inputs .input-label {
  display: block;
  background: #fffefc;
  border: solid 1px #fcf1dd;
  text-align: left;
  padding: 20px;
  min-height: 150px;
  position: relative;
  z-index: 10;
  width: 104px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.order-inputs .input-label:after {
  content: "";
  width: calc(100% + 2px);
  position: absolute;
  z-index: 9;
  top: 100%;
  left: -1px;
  height: 4px;
  background: #f7ead4;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.order-inputs .input-label:last-child {
  margin-right: 0;
}

.order-inputs .label-titile {
  font-size: 10px;
  margin-bottom: 13px;
}

.order-inputs .label-titile i {
  margin-right: 7px;
}

.order-inputs .order-date {
  font-size: 48px;
  color: #3a2405;
  font-family: 'GothamProBlack', Arial, Tahoma, sans-serif;
  margin-bottom: 9px;
}

.order-inputs .order-month {
  color: #3a2405;
  font-size: 14px;
}

.order-inputs .icon-select_arrow {
  position: absolute;
  right: 10px;
  bottom: 12px;
}

.order-inputs .calendar-input {
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  padding: 0;
  border: none;
}

.order-inputs .active-label {
  box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.78);
  background: #fff;
}

.order-inputs .active-label:after {
  opacity: 1;
}

.ui-datepicker {
  z-index: 40 !important;
  margin-top: 4px;
  margin-left: -1px;
}

.mfp-wrap ~ .ui-datepicker {
  z-index: 2000 !important;
}

.popup-flex {
  display: -ms-flexbox;
  display: flex;
}

.popup-flex .popup-img {
  width: 380px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.popup-flex .popup-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.popup-information {
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  border: 6px solid #fcf1dd;
  background: #fffefc;
  padding: 46px;
  text-align: left;
}

.popup-information h4 {
  margin-bottom: 18px;
}

.popup-information .title-desc {
  margin-bottom: 24px;
  font-size: 16px;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
  line-height: 1.125;
}

.popup-information .order-phone {
  text-align: center;
}

.mobile-buter {
  display: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: relative;
}

.mobile-buter span {
  display: block;
  width: 30px;
  height: 2px;
  background: #3a2405;
  margin: 5px 0;
  transition: all 0.2s ease-out;
}

.mobile-buter.open-buter span {
  position: relative;
}

.mobile-buter.open-buter span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 7px;
}

.mobile-buter.open-buter span:nth-of-type(2) {
  opacity: 0;
}

.mobile-buter.open-buter span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: -7px;
}

#review-popup .simple-form textarea {
  height: 230px;
}

.title-section {
  background: #fffefc;
  padding: 29px 0 57px;
}

.title-section .title-content {
  padding-left: 440px;
}

.title-section h1 {
  color: #debda5;
  font-size: 36px;
  margin-bottom: 0;
  text-transform: none;
}

.title-section h1 small {
  font-family: 'UbuntuLight', Arial, Tahoma, sans-serif;
}

.breadcrumbs {
  margin-bottom: 17px;
  text-align: left;
  padding-left: 25px;
  position: relative;
}

.breadcrumbs:before {
  content: url("../images/house.png");
  position: absolute;
  left: 0;
  top: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  margin-bottom: 15px;
  color: #debda5;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.single-room .room-type .btn {
  margin-bottom: 35px;
}

.single-room .room-type p {
  margin-bottom: 21px;
}

.single-room .room-description .facilities-block {
  padding-bottom: 5px;
}

.single-room .slider-container .slider-big {
  max-height: 560px;
  margin-bottom: 30px;
}

.room-slider-small {
  margin-bottom: -15px;
  padding-left: 10px;
}

.room-slider-small .slide {
  margin: 8px 15px 15px;
  position: relative;
  cursor: pointer;
}

.room-slider-small .slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: solid 4px #957a66;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.room-slider-small .slide:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(149, 122, 102, 0);
  border-bottom-color: #957a66;
  border-width: 8px;
  margin-left: -8px;
  opacity: 0;
}

.room-slider-small img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.room-slider-small .slick-current {
  box-shadow: -2px 8.8px 9px 0 rgba(244, 228, 199, 0.78);
}

.room-slider-small .slick-current:before,
.room-slider-small .slick-current:after {
  opacity: 1;
}

.information-section {
  background: #fffefc;
  padding: 0 0 150px;
  margin-top: -12px;
}

.room-info-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.room-info-list {
  width: calc(33.333% - 30px);
  margin: 0 15px 30px;
  box-shadow: -2px 8.8px 9px 0 rgba(252, 241, 221, 0.78);
  background: #fff;
  border: solid 6px #fcf1dd;
  padding: 58px 60px 50px;
}

.room-info-list li {
  margin-bottom: 6px;
  font-size: 18px;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24px;
}

.room-info-list .title {
  padding-bottom: 26px;
  margin-bottom: 25px;
  border-bottom: 1px solid #fcf1dd;
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
  font-size: 24px;
  color: #3a2405;
}

.room-info-list .title .img-block {
  margin-right: 10px;
}

.room-info-list .img-block {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
  margin-right: 20px;
  width: 24px;
  font-size: 18px;
  color: #3a2405;
}

.fixed-bottom-line {
  background: rgba(254, 251, 245, 0.95);
  box-shadow: -2px 8.8px 9px 0 rgba(252, 241, 221, 0.78);
  padding: 30px 0;
  z-index: 45;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
}

.fixed-bottom-line.stop {
  position: absolute;
}

.fixed-bottom-line .line-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fixed-bottom-line h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.fixed-bottom-line .price {
  color: #3a2405;
  font-size: 30px;
  margin: 0 110px 0 85px;
}

.fixed-bottom-line .price .rub {
  font-size: 29px;
}

.fixed-bottom-line .btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.info-table-section .dop-info {
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
  text-align: left;
  padding-left: 440px;
}

.info-table-section .dop-info p {
  margin-bottom: 5px;
}

.info-table-section + .about-section {
  padding-bottom: 60px;
}

.info-table-outer {
  padding-left: 110px;
  margin-bottom: 50px;
}

.info-table {
  width: 100%;
  text-align: left;
}

.info-table tr {
  height: 1px;
}

.info-table th {
  padding-right: 25px;
}

.info-table th:first-child {
  position: relative;
}

.info-table th:first-child:before {
  content: "";
  height: 100%;
  width: 100vw;
  background: #fefbf5;
  position: absolute;
  left: -110px;
  top: 0;
}

.info-table td {
  vertical-align: top;
}

.info-table td:first-child {
  position: relative;
}

.info-table td:first-child:before {
  content: "";
  height: 100%;
  width: 100vw;
  background: #fefbf5;
  position: absolute;
  left: -110px;
  top: 0;
  transition: all 0.3s ease-out;
}

.info-table td:first-child {
  min-width: 270px;
}

.info-table td:last-child {
  min-width: 330px;
}

.info-table tbody tr:last-child .info-text {
  border-bottom-color: transparent !important;
}

.info-table tbody tr:last-child:hover td:first-child:before {
  background: #fffefc;
  box-shadow: -3px 9px 9px 0px rgba(244, 228, 199, 0.83);
}

.info-table tbody tr:hover {
  z-index: 5;
}

.info-table tbody tr:hover td:first-child:before {
  background: #fffefc;
  box-shadow: -3px 7px 7px 0px rgba(244, 228, 199, 0.83);
}

.info-table tbody tr:hover .info-text {
  border-bottom-color: transparent;
}

.info-table tbody tr:hover .info-text .btn {
  opacity: 1;
  visibility: visible;
}

.info-table tbody tr:hover + tr td:first-child:before {
  box-shadow: -8px 9px 9px 0px rgba(244, 228, 199, 0.83) inset;
}

.info-table .title {
  white-space: nowrap;
  display: inline-block;
  min-width: 190px;
  padding: 50px 0 25px;
  border-bottom: 1px solid #fcf1dd;
  color: #3a2405;
  font-size: 24px;
  font-family: 'UbuntuBold', Arial, Tahoma, sans-serif;
  position: relative;
  z-index: 2;
}

.info-table .title small {
  font-size: 16px;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
}

.info-table .info-text {
  position: relative;
  z-index: 5;
  border-bottom: 1px solid #fcf1dd;
  min-height: 112px;
  height: 100%;
  padding: 30px 25px 15px 0;
}

.info-table .info-text .btn {
  position: absolute;
  top: 30px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.info-table p {
  margin-bottom: 15px;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
  font-size: 18px;
  white-space: nowrap;
}

.info-table p small {
  font-size: 14px;
}

.order-title-section {
  background: #fffefc;
  padding: 35px 0 29px;
}

.order-title-section .line {
  background: #3a2405 url("../images/top_section_line_bg.png") no-repeat right center;
  height: 28px;
  width: 100%;
}

.order-title-section .big-img {
  position: absolute;
  z-index: 4;
  right: 15px;
  top: 0;
  width: 35vw;
}

.order-title-section .big-img img {
  height: 532px;
  width: 100%;
  object-fit: cover;
}

.order-title-section .order-form {
  display: -ms-flexbox;
  display: flex;
  padding: 0 110px;
  padding-bottom: 5px;
}

.order-title-section .order-form h4 {
  margin-bottom: 27px;
  font-size: 36px;
}

.order-title-section .visible-xs {
  display: none;
}

.order-title-section .order-form-right {
  padding-left: 90px;
  margin-top: -6px;
}

.order-title-section .breadcrumbs {
  margin-left: 440px;
  margin-top: 40px;
  margin-bottom: 18px;
}

.order-title-section h1 {
  margin-left: 440px;
  color: #debda5;
  font-size: 36px;
  margin-bottom: 0;
  text-transform: none;
  padding-bottom: 27px;
  margin-bottom: 32px;
  position: relative;
}

.order-title-section h1 small {
  font-family: 'UbuntuLight', Arial, Tahoma, sans-serif;
}

.order-title-section h1:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1px;
  background: #debda5;
}

.order-title-section .year-price {
  margin-left: 440px;
}

.order-title-section .year-price h2 {
  margin-bottom: 52px;
}

.order-title-section .year-price p {
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
  margin-bottom: 20px;
  line-height: 1.429;
}

.order-title-section .about-list {
  padding: 30px 0 40px 40px;
  position: relative;
  z-index: 10;
  -ms-flex-pack: center;
  justify-content: center;
}

.order-title-section .about-list li {
  width: 200px;
}

.rules-section {
  background: #fffefc;
  padding: 50px 0 100px;
}

.rules-section .room-info-list .title .img-block {
  margin-right: 13px;
  margin-top: 2px;
}

.rules-section .rule-detail {
  display: block;
}

.rules-section .rule-detail p {
  padding-top: 15px;
  color: #917d62;
  font-family: 'UbuntuRegular', Arial, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.429;
}

.rules-section .rule-schedule {
  display: block;
  margin: 0 -40px 0 -10px;
}

.rules-section .rule-schedule li {
  line-height: 1.333;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 10px;
}

.rules-section .rule-schedule li span {
  display: block;
  padding: 0 10px;
  min-width: 158px;
}

.rules-section .rule-schedule li strong {
  width: 130px;
  padding: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #3a2405;
  display: block;
}

.pagination {
  display: inline-block;
  vertical-align: middle;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  margin-right: 20px;
}

.pagination a {
  color: #3a2405;
  transition: all 0.3s ease-out;
}

.pagination a:hover {
  color: #1b4a6a;
  text-decoration: underline;
}

.pagination .active-page {
  color: #1b4a6a;
  text-decoration: underline;
}

.our-rooms-section {
  background: #fffefc;
  padding: 35px 0 50px;
}

.our-rooms-section .all-rooms {
  margin-top: 50px;
  text-align: right;
}

.our-rooms-outer {
  position: relative;
  background: #fcf1dd;
}

.our-rooms-outer:before {
  content: "";
  display: block;
  width: 50vw;
  height: 100%;
  position: absolute;
  right: 100%;
  top: 0;
  background: #fcf1dd;
}

.our-rooms-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.our-rooms-content .room-content {
  width: 520px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fcf1dd;
}

.our-rooms-content .room-arrows {
  left: auto;
  right: 0;
}

.our-rooms-content .slider-container {
  width: 100%;
}

.our-rooms-content .slider-container .slider-big {
  height: 400px;
}

.our-rooms-content .room-type {
  width: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.our-rooms-content .room-description {
  width: 190px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #fefbf5 !important;
  padding: 57px 42px 120px;
}

.our-rooms-content .facilities-list {
  margin-bottom: 20px;
}

.our-rooms-content .facilities-block {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.our-rooms-content .facilities-block h6 {
  line-height: 1.250;
  margin-bottom: 32px;
}

.our-rooms-content .simple-btn {
  margin-top: 20px;
  display: block;
  max-width: 241px;
}

.our-rooms-content .simple-btn span {
  width: 100%;
}

.reviews-page-section {
  padding: 30px 0 70px;
  background: #fffefc;
}

.reviews-page-section .reviews-links {
  padding-top: 15px;
  margin-left: 150px;
}

.reviews-page-section .pagination {
  margin-right: -20px;
}

.reviews-page-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 150px;
}

.reviews-page-content .review-block {
  margin-bottom: 30px;
}

/*================= МОДАЛКИ ======================*/

.popup-modal {
  margin: 30px auto;
  position: relative;
  background: #fff;
  border-radius: 3px;
  max-width: 838px;
}

.popup-modal .mfp-close {
  right: 20px;
  height: auto;
  width: auto;
  line-height: 1;
  font-size: 1px;
  top: 20px;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.popup-modal .mfp-close i,
.popup-modal .mfp-close img {
  pointer-events: none;
}

.mfp-bg {
  background: #3a2405;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.6;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/*================= MEDIA ======================*/

@media (min-width: 1020px) {
  .header-options {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  header + .main-content {
    padding-top: 185px;
  }

  header.main-page + .main-content {
    padding-top: 140px;
  }

  header.inner-page + .main-content {
    padding-top: 155px;
  }

  header.fixedtop {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 0 !important;
  }

  header.fixedtop .languages-list {
    opacity: 0;
    visibility: hidden;
  }

  header.fixedtop .main-logo {
    padding: 0;
  }

  header.fixedtop .main-logo img {
    max-width: 201px;
  }
}

@media (min-width: 1340px) {
  .header-options .simple-btn span {
    padding: 10px 41px 11px;
  }

  .header-options .simple-btn:hover span {
    padding: 9px 40px 10px;
  }
}

@media (max-width: 1339px) {
  .order-section .img-content img {
    height: 600px;
    object-fit: cover;
    width: 100%;
  }

  .order-section .img-text {
    bottom: 50px;
    right: 50px;
  }

  .about-section .about-pic {
    margin-top: 40px;
  }

  .about-description {
    padding-left: 25px;
  }

  .room-content .btn span {
    padding: 7px 20px 8px;
  }

  .room-description {
    padding: 135px 25px 25px;
  }

  .slider-container .slider-big {
    max-height: 700px;
  }

  .gallery-block,
  .gallery-container::before {
    height: 250px;
  }

  .reviews-arrows {
    margin-left: 0;
  }

  .reviews-slider .slider-count {
    margin-left: -100px;
  }

  .total-rating {
    height: 180px;
    width: 180px;
    padding-top: 35px;
  }

  .total-rating p {
    font-size: 16px;
  }

  .review-block {
    max-width: 730px;
    padding: 40px 30px;
  }

  .reviews-links {
    max-width: 730px;
  }

  .footer-menu {
    padding-left: 45px;
  }

  .footer-menu li {
    margin-right: 20px;
  }

  .footer-top .simple-btn {
    margin-left: 20px;
  }

  .map-content {
    margin-left: -490px;
  }

  .main-logo {
    padding: 7px 0;
    display: inline-block;
    transition: all 0.3s ease-out;
  }

  .main-logo img {
    max-width: 250px;
  }

  .header-options {
    margin-left: -50px;
  }

  .header-options .phone {
    font-size: 16px;
    white-space: nowrap;
  }

  .header-options .simple-btn {
    margin-left: 15px;
  }

  .header-options .simple-btn span {
    white-space: nowrap;
  }

  .header-menu > li {
    margin-right: 15px;
  }

  .header-menu > li:first-child {
    margin-right: 10px;
  }

  .header-menu > li .icon-select_arrow {
    margin-left: 6px;
  }

  .footer-top {
    padding: 25px 0 40px;
  }

  .footer-top .footer-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer-menu {
    text-align: right;
  }

  .footer-logo {
    position: relative;
    top: 25px;
  }

  .about-section {
    padding-bottom: 70px;
  }

  .room-info-list {
    padding: 48px 20px 40px;
  }

  .fixed-bottom-line .price {
    margin: 0 80px 0 55px;
  }

  .title-section .title-content {
    padding-left: 300px;
  }

  .order-title-section .order-form {
    padding: 0;
    padding-left: 10px;
  }

  .order-title-section .order-form-right {
    padding-left: 35px;
  }

  .order-title-section h1,
  .order-title-section .breadcrumbs,
  .order-title-section .year-price {
    margin-left: 260px;
  }

  .info-table-section .info-container {
    width: 100%;
  }

  .info-table-section .dop-info {
    padding-left: 270px;
  }

  .info-table-outer {
    padding-left: 40px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .info-table td:first-child::before,
  .info-table th:first-child::before {
    left: -40px;
  }

  .info-table td:first-child {
    min-width: 240px;
  }

  .info-table .title {
    min-width: 170px;
  }

  .our-rooms-content h3 {
    font-size: 34px;
  }

  .our-rooms-content .room-content {
    width: 460px;
  }

  .our-rooms-content .room-description {
    padding: 57px 30px 100px;
    width: 172px;
  }

  .our-rooms-content .simple-btn {
    max-width: 218px;
  }

  .reviews-page-content {
    padding-left: 75px;
  }

  .reviews-page-section .reviews-links {
    margin-left: 75px;
  }
}

@media (max-width: 1019px) {
  header {
    padding: 15px 0;
  }

  header.inner-page {
    padding-bottom: 15px;
  }

  header + .main-content {
    padding-top: 98px !important;
  }

  header.fixedtop {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .mobile-buter {
    display: block;
    float: right;
  }

  .header-options {
    display: none;
    margin-top: 20px;
    position: absolute;
    top: 100%;
    margin-left: 0;
    width: auto;
    background: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    width: 250px;
    padding: 15px;
    right: 15px;
  }

  .header-options .phone {
    display: none;
  }

  .header-options .simple-btn {
    margin-left: 0;
    width: 100%;
  }

  .header-options .simple-btn span {
    width: 100%;
  }

  .room-categories {
    display: none !important;
  }

  .header-menu {
    margin-bottom: 10px;
  }

  .header-menu li {
    display: block;
    margin-right: 0 !important;
    margin-bottom: 0;
  }

  .header-menu .icon-select_arrow {
    display: none;
  }

  .languages-list {
    top: 10px;
    right: 10px;
  }

  .main-logo {
    padding: 0;
  }

  .main-logo img {
    max-width: 220px;
  }

  .popup-flex .popup-img {
    display: none;
  }

  .order-section {
    padding-bottom: 30px;
    border-top-width: 38px;
  }

  .order-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-align: center;
    align-items: center;
  }

  .order-section .row .col-md-7 {
    width: 100%;
  }

  .order-section .order-img {
    margin-top: -70px;
    margin-bottom: 30px;
  }

  .order-section .img-content {
    margin-top: 0;
    position: relative;
  }

  .order-section .img-content img {
    height: 450px;
  }

  .order-section .order-form {
    text-align: center;
  }

  .about-pic {
    display: none;
  }

  .about-section {
    padding: 40px 0 55px;
  }

  .room-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .room-type {
    width: 50%;
  }

  .room-description {
    width: 50%;
    padding: 73px 50px 25px;
  }

  .slider-container {
    width: 100%;
  }

  .slider-container .slider-big {
    height: 400px;
  }

  .gallery-block {
    width: 50%;
    height: 300px;
  }

  .gallery-container::before {
    height: 300px;
  }

  .reviews-section {
    padding: 50px 0 80px;
  }

  .review-block {
    max-width: 100%;
    min-height: 1px;
  }

  .total-rating {
    display: none;
  }

  .reviews-slider {
    margin-left: 20px;
  }

  .reviews-slider .slider-count {
    margin-left: -95px;
  }

  .about-description {
    padding-left: 0;
  }

  #map {
    width: 100%;
    height: 400px;
  }

  .map-content {
    position: static;
    margin: 30px auto;
    width: 450px;
    min-width: 1px;
  }

  .room-slider-small {
    padding-right: 5px;
    margin-bottom: 0;
  }

  .room-info-list {
    padding: 48px 35px 40px;
    width: calc(50% - 30px);
  }

  .fixed-bottom-line h3 {
    font-size: 30px;
  }

  .fixed-bottom-line .price {
    margin: 0 25px;
    font-size: 25px;
  }

  .fixed-bottom-line .price .rub {
    font-size: 24px;
  }

  .title-section {
    padding: 30px 0 40px;
  }

  .title-section .title-content {
    padding-left: 0;
  }

  .breadcrumbs {
    margin-bottom: 7px;
  }

  .order-title-section .big-img {
    display: none;
  }

  .order-title-section .order-form {
    padding-left: 0;
  }

  .order-title-section h1,
  .order-title-section .breadcrumbs,
  .order-title-section .year-price {
    margin-left: 0;
  }

  .order-title-section .year-price h2 {
    margin-bottom: 30px;
  }

  .order-title-section .about-list {
    padding: 30px 0 15px;
  }

  .order-title-section .about-list h6 {
    font-size: 16px;
  }

  .info-table-section .dop-info {
    padding-left: 0;
  }

  .info-table-outer {
    overflow: auto;
    background: #fefbf5;
  }

  .info-table td:last-child {
    min-width: 340px;
  }

  .info-table .info-text .btn {
    opacity: 1;
    visibility: visible;
    right: 10px;
  }

  .info-table td:first-child:before,
  .info-table th:first-child:before {
    display: none;
  }

  .info-table .info-text {
    border-bottom: 1px solid #fcf1dd !important;
  }

  .our-rooms-content h3 {
    font-size: 36px;
  }

  .our-rooms-content .room-content {
    width: 100%;
  }

  .our-rooms-content .room-description {
    padding: 57px 30px 80px;
    width: 310px;
  }

  .reviews-page-content {
    padding-left: 0;
  }

  .reviews-page-section .reviews-links {
    margin-left: 0;
  }

  .order-section {
    border-top-width: 35px;
  }
}

@media (max-width: 767px) {
  .main-logo img {
    max-width: 180px;
  }

  header + .main-content {
    padding-top: 88px !important;
  }

  .order-section {
    border-top-width: 32px;
  }

  .reviews-slider {
    margin-left: 0;
  }

  .reviews-slider .slider-count {
    left: 50%;
    margin-left: 0;
    margin-top: -81px;
    transform: translateX(-50%);
  }

  .reviews-arrows {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .reviews-arrows .arrow-prev,
  .reviews-arrows .arrow-next {
    transform: none;
  }

  .order-section .order-img {
    width: calc(100% + 30px);
    margin: -70px -15px 30px;
  }

  .order-section .order-img img {
    height: auto;
    min-height: 320px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 44px;
    margin-bottom: 35px;
  }

  h3 {
    font-size: 33px;
  }

  h4 {
    font-size: 30px;
  }

  .room-type {
    padding-right: 20px;
  }

  .room-type .price {
    font-size: 28px;
  }

  .room-description {
    padding: 70px 25px 25px;
  }

  .gallery-block,
  .gallery-container::before {
    height: 270px;
  }

  .reviews-section {
    padding: 35px 0 50px;
  }

  .reviews-links {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .reviews-links .btn {
    margin-top: 25px;
  }

  .footer-flex {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-bottom p {
    -ms-flex-order: 1;
    order: 1;
    margin-top: 15px;
  }

  .footer-logo {
    top: 0;
  }

  .footer-menu {
    padding-left: 0;
    margin: 18px 0;
  }

  .footer-menu li:last-child {
    margin-right: 0;
  }

  .footer-top {
    padding: 25px 0;
  }

  .footer-top .simple-btn {
    margin: 18px 0 0;
  }

  .popup-information {
    padding: 25px 15px;
  }

  .simple-form label.error::after {
    right: -23px;
  }

  .simple-form textarea {
    height: 120px;
  }

  .room-slider-small {
    display: none !important;
  }

  .single-room .slider-container .slider-big {
    margin-bottom: 0;
  }

  .room-info-list {
    width: 100%;
    max-width: 320px;
    padding: 35px 20px 30px;
  }

  .fixed-bottom-line {
    padding: 15px 0;
  }

  .fixed-bottom-line h3 {
    margin-right: 15px;
    font-size: 24px;
  }

  .fixed-bottom-line .price {
    display: none;
  }

  .information-section {
    padding-bottom: 120px;
  }

  .order-title-section .order-form {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
  }

  .order-title-section .order-form h4 {
    text-align: center;
    font-size: 32px;
  }

  .order-title-section .visible-xs {
    display: block;
  }

  .order-title-section .order-form-right {
    margin-top: 0;
    padding-left: 0;
    text-align: center;
  }

  .order-title-section .order-form-right h4 {
    display: none;
  }

  .order-title-section .about-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: -25px;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .order-title-section .about-list .img-block {
    margin: 0 auto 20px;
  }

  .order-title-section .about-list li {
    text-align: center;
    margin-bottom: 35px;
    width: 180px;
  }

  .our-rooms-content h3 {
    font-size: 34px;
  }

  .our-rooms-content .room-description {
    width: 172px;
  }

  .pagination {
    display: block;
    margin-bottom: 20px;
  }

  .our-rooms-section .all-rooms {
    margin-top: 30px;
  }

  .rules-section .rule-schedule {
    margin-right: -20px;
  }

  .rules-section .rule-schedule li {
    font-size: 16px;
  }

  .rules-section .rule-schedule li strong {
    width: 120px;
  }

  .rules-section {
    padding-top: 20px;
  }

  .header-options {
    right: 0;
  }
}

@media (max-width: 480px) {
  .header-options {
    margin-top: 30px;
  }

  .order-section .img-text {
    left: 15px;
    bottom: 20px;
  }

  .order-section .slogan {
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 28px;
  }

  .order-inputs .input-label {
    margin-right: 10px;
    padding: 15px;
    width: 96px;
  }

  .about-list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto -35px;
  }

  .about-list li {
    text-align: center;
    margin-bottom: 35px;
    width: auto;
  }

  .about-list .img-block {
    margin: 0 auto 20px;
  }

  .room-type {
    padding-right: 0;
    width: 100%;
  }

  .room-description {
    width: 100%;
    padding: 40px 25px;
  }

  .slider-container .slider-big {
    height: 350px;
  }

  .big-arrow-link {
    font-size: 30px;
  }

  .big-arrow-link i {
    margin-left: 10px;
  }

  .gallery-section {
    padding-top: 25px;
  }

  .gallery-flex {
    margin: 0 -5px;
  }

  .gallery-block {
    padding: 0 5px;
    margin-bottom: 10px;
    height: 230px;
  }

  .gallery-container::before {
    height: 230px;
    bottom: 10px;
  }

  .map-content {
    width: auto;
    margin: 30px 10px;
    padding: 35px 20px 20px;
  }

  .map-content li {
    font-size: 17px;
  }

  .footer-menu li {
    margin-right: 0;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  .footer-menu li:last-child {
    margin-bottom: 0;
  }

  .review-author .name {
    display: block;
    margin-bottom: 12px;
  }

  .review-rating {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .review-rating .title {
    width: 100%;
    margin-left: 15px;
    margin-top: 15px;
  }

  .btn span {
    padding: 7px 18px 8px;
  }

  .btn.big-btn {
    min-width: 260px;
  }

  .popup-information .order-phone {
    font-size: 13px;
  }

  .popup-information .order-inputs {
    margin-left: -10px;
  }

  .popup-information .order-inputs .input-label {
    width: 88px;
    padding: 15px 10px;
  }

  .popup-information .order-inputs .order-date {
    font-size: 44px;
  }

  .fixed-bottom-line h3 {
    display: none;
  }

  .order-title-section .about-list {
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .order-title-section .about-list li {
    width: 116px;
  }

  .our-rooms-content .room-description {
    width: 100%;
    padding-right: 0;
    padding-bottom: 50px;
  }

  .pagination li {
    font-size: 32px;
  }
}
/*# sourceMappingURL=../css/main.css.map */
