@font-face {
		font-family: "UbuntuLight";
		src: url("../fonts/UbuntuLight/UbuntuLight.eot");
		src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"),
		url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
		font-family: "UbuntuRegular";
		src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
		src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
		url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "UbuntuBold";
		src: url("../fonts/UbuntuBold/UbuntuBold.eot");
		src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"),
		url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}


@font-face {
		font-family: "GothamProRegular";
		src: url("../fonts/GothamProRegular/GothamProRegular.eot");
		src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
		url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "GothamProBold";
		src: url("../fonts/GothamProBold/GothamProBold.eot");
		src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
		url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "GothamProBlack";
		src: url("../fonts/GothamProBlack/GothamProBlack.eot");
		src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
		url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}


